In [1]:
# find [why] for questions
# why I get error with eval_type = read_int(infile)

import pyspark
from pyspark.sql import SparkSession, Window
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.appName("Functions 3.5.0").getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/23 23:45:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
path = "datasets/"
students = spark.read.csv(path+"students.csv", inferSchema=True, header=True)
tour = spark.read.csv(path+"pga_tour_historical.csv", inferSchema=True, header=True)
tour.limit(100).dropna().dropDuplicates().limit(5).show()
students.limit(5).toPandas()

+---------------+------+----------------+--------------------+-----+
|    Player Name|Season|       Statistic|            Variable|Value|
+---------------+------+----------------+--------------------+-----+
|Robert Garrigus|  2010|Driving Distance|Driving Distance ...|   71|
|   Bubba Watson|  2010|Driving Distance|Driving Distance ...|   77|
| Dustin Johnson|  2010|Driving Distance|Driving Distance ...|   83|
|Brett Wetterich|  2010|Driving Distance|Driving Distance ...|   54|
|    J.B. Holmes|  2010|Driving Distance|Driving Distance ...|  100|
+---------------+------+----------------+--------------------+-----+

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

23/10/23 23:45:55 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

# Functions

## Normal Functions¶

## Math Functions

## Datetime Functions

## Collection Functions

## [Partition Transformation Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#partition-transformation-functions)

##### Notes

This function can be used only in combination with partitionedBy() method of the DataFrameWriterV2.

Get AnalysisException: [REQUIRES_SINGLE_PART_NAMESPACE] spark_catalog requires a single-part namespace, but got `catalog`.`db`.

#### pyspark.sql.functions.years(col: ColumnOrName) → pyspark.sql.column.Column
Partition transform function: A transform for timestamps and dates to partition data into years.

In [75]:
"""df.writeTo("catalog.db.table").partitionedBy(  
    years("ts")
).createOrReplace()
"""

'df.writeTo("catalog.db.table").partitionedBy(  \n    years("ts")\n).createOrReplace()\n'

#### pyspark.sql.functions.months(col: ColumnOrName) → pyspark.sql.column.Column
Partition transform function: A transform for timestamps and dates to partition data into months.

In [78]:
"""df.writeTo("catalog.db.table").partitionedBy(
    months("ts")
).createOrReplace()
"""

'df.writeTo("catalog.db.table").partitionedBy(\n    months("ts")\n).createOrReplace()\n'

#### pyspark.sql.functions.days(col: ColumnOrName) → pyspark.sql.column.Column
Partition transform function: A transform for timestamps and dates to partition data into days.

In [80]:
"""df.writeTo("catalog.db.table").partitionedBy(  
    days("ts")
).createOrReplace()"""

'df.writeTo("catalog.db.table").partitionedBy(  \n    days("ts")\n).createOrReplace()'

#### pyspark.sql.functions.hours(col: ColumnOrName) → pyspark.sql.column.Column
Partition transform function: A transform for timestamps to partition data into hours.

In [83]:
"""df.writeTo("catalog.db.table").partitionedBy(   
    hours("ts")
).createOrReplace()"""

'df.writeTo("catalog.db.table").partitionedBy(   \n    hours("ts")\n).createOrReplace()'

#### pyspark.sql.functions.bucket(numBuckets: Union[pyspark.sql.column.Column, int], col: ColumnOrName) → pyspark.sql.column.Column
Partition transform function: A transform for any type that partitions by a hash of the input column.

In [86]:
""" df.writeTo("catalog.db.table").partitionedBy(  
    bucket(42, "ts")
).createOrReplace()"""

' df.writeTo("catalog.db.table").partitionedBy(  \n    bucket(42, "ts")\n).createOrReplace()'

## [Aggregate Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#aggregate-functions)

#### pyspark.sql.functions.any_value(col: ColumnOrName, ignoreNulls: Union[bool, pyspark.sql.column.Column, None] = None) → pyspark.sql.column.Column
Returns some value of col for a group of rows.

In [69]:
tour.select(any_value("Player name"), any_value("Value")).show()

+----------------------+----------------+
|any_value(Player name)|any_value(Value)|
+----------------------+----------------+
|       Robert Garrigus|              71|
+----------------------+----------------+

In [70]:
df = spark.createDataFrame([(None, 1),
                            ("a", 2),
                            ("a", 3),
                            ("b", 8),
                            ("b", 2)], ["c1", "c2"])
df.select(any_value('c1'), any_value('c2')).collect()

[Row(any_value(c1)=None, any_value(c2)=1)]

In [71]:
df.select(any_value('c1', True), any_value('c2', True)).collect()

[Row(any_value(c1)='a', any_value(c2)=1)]

#### pyspark.sql.functions.approxCountDistinct(col: ColumnOrName, rsd: Optional[float] = None) → pyspark.sql.column.Column
##### Use approx_count_distinct() instead.

#### pyspark.sql.functions.approx_count_distinct(col: ColumnOrName, rsd: Optional[float] = None) → pyspark.sql.column.Column
Aggregate function: returns a new Column for approximate distinct count of column col.

In [73]:
df = spark.createDataFrame([1,2,2,3], "INT")
df.agg(approx_count_distinct("value").alias('distinct_values')).show()

23/10/24 01:27:13 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+---------------+
|distinct_values|
+---------------+
|              3|
+---------------+

## [Window Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#window-functions)

#### pyspark.sql.functions.cume_dist() → pyspark.sql.column.Column
Window function: returns the cumulative distribution of values within a window partition, i.e. the fraction of rows that are below the current row.

In [201]:
df = spark.createDataFrame([1, 2, 3, 3, 4], IntegerType())
w = Window.orderBy("value")
df.withColumn("cd", cume_dist().over(w)).show()

23/10/22 20:48:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:48:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:48:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----+---+
|value| cd|
+-----+---+
|    1|0.2|
|    2|0.4|
|    3|0.8|
|    3|0.8|
|    4|1.0|
+-----+---+

23/10/22 20:48:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:48:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [205]:
w = Window.orderBy("math score")
students.orderBy(desc("reading score")).limit(50).withColumn("cd", cume_dist().over(w)).show(50)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+----+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|  cd|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+----+
|female|       group B|         associate's degree|free/reduced|              completed|        76|           94|           87|0.02|
|female|       group B|            master's degree|free/reduced|              completed|        77|           97|           94|0.06|
|female|       group C|          bachelor's degree|    standard|              completed|        77|           94|           95|0.06|
|female|       group D|           some high school|    standard|                   none|        81|           97|           96|0.08|
|female|       group D|               some college|    standard|              completed|        82|           97|           96|0.16|
|female|       group D|         associate's degree|    standard|                   none|        82|           95|           89|0.16|
|female|       group C|         associate's degree|free/reduced|              completed|        82|           93|           93|0.16|
|female|       group A|         associate's degree|    standard|                   none|        82|           93|           93|0.16|
|female|       group C|          bachelor's degree|    standard|                   none|        83|           93|           95|0.18|
|female|       group E|         associate's degree|    standard|                   none|        84|           95|           92| 0.2|
|female|       group D|            master's degree|free/reduced|              completed|        85|           95|          100|0.24|
|female|       group C|           some high school|    standard|              completed|        85|           92|           93|0.24|
|female|       group C|          bachelor's degree|    standard|                   none|        86|           92|           87|0.26|
|female|       group D|            master's degree|    standard|                   none|        87|          100|          100|0.34|
|  male|       group C|         associate's degree|    standard|              completed|        87|          100|           95|0.34|
|female|       group B|                high school|    standard|                   none|        87|           95|           86|0.34|
|female|       group E|         associate's degree|    standard|                   none|        87|           94|           95|0.34|
|female|       group D|                high school|    standard|              completed|        88|           99|          100|0.46|
|female|       group E|            master's degree|    standard|              completed|        88|           99|           95|0.46|
|female|       group C|               some college|    standard|              completed|        88|           95|           94|0.46|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|0.46|
|female|       group C|               some college|    standard|              completed|        88|           93|           93|0.46|
|female|       group D|         associate's degree|    standard|              completed|        88|           92|           95|0.46|
|female|       group D|          bachelor's degree|    standard|                   none|        89|          100|          100|0.48|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93| 0.5|
|  male|       group A|          bachelor's degree|    standard|                   none|        91|           96|           92|0.56|
|  male|       group B|               some college|    standard|              completed|        91|           96|           91|0.56|
|female|       group C|         associate's degree|    standard|                   none|        91|           95|           94|0.56|
|female|       group A|           some high school|    standard|              completed|        92|          100|           97|0.64|
|female|       group E|          bachelor's degree|free/reduced|              completed|        92|          100|          100|0.64|
|female|       group C|          bachelor's degree|    standard|              completed|        92|          100|           99|0.64|
|female|       group D|            master's degree|    standard|                   none|        92|          100|          100|0.64|
|female|       group E|         associate's degree|    standard|              completed|        93|          100|           95|0.68|
|female|       group D|          bachelor's degree|free/reduced|              completed|        93|          100|          100|0.68|
|female|       group E|            master's degree|    standard|              completed|        94|           99|          100| 0.7|
|female|       group C|          bachelor's degree|    standard|              completed|        96|          100|          100|0.74|
|female|       group C|         associate's degree|    standard|              completed|        96|           96|           99|0.74|
|female|       group D|           some high school|    standard|              completed|        97|          100|          100| 0.8|
|female|       group B|          bachelor's degree|    standard|                   none|        97|           97|           96| 0.8|
|  male|       group C|         associate's degree|    standard|                   none|        97|           93|           91| 0.8|
|female|       group D|               some college|    standard|                   none|        98|          100|           99|0.82|
|female|       group E|          bachelor's degree|    standard|              completed|        99|          100|          100|0.86|
|female|       group E|                high school|    standard|                   none|        99|           93|           90|0.86|
|  male|       group E|         associate's degree|free/reduced|              completed|       100|          100|           93| 1.0|
|female|       group E|          bachelor's degree|    standard|                   none|       100|          100|          100| 1.0|
|  male|       group E|          bachelor's degree|    standard|              completed|       100|          100|          100| 1.0|
|female|       group E|         associate's degree|    standard|                   none|       100|          100|          100| 1.0|
|  male|       group D|               some college|    standard|              completed|       100|           97|           99| 1.0|
|  male|       group A|               some college|    standard|              completed|       100|           96|           86| 1.0|
|female|       group E|               some college|    standard|                   none|       100|           92|           97| 1.0|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+----+

23/10/22 20:50:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:50:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:50:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

#### pyspark.sql.functions.dense_rank() → pyspark.sql.column.Column
Window function: returns the rank of rows within a window partition, without any gaps.

The difference between rank and dense_rank is that dense_rank leaves no gaps in ranking sequence when there are ties. That is, if you were ranking a competition using dense_rank and had three people tie for second place, you would say that all three were in second place and that the next person came in third. Rank would give me sequential numbers, making the person that came in third place (after the ties) would register as coming in fifth.

This is equivalent to the DENSE_RANK function in SQL.

In [206]:
df = spark.createDataFrame([1, 1, 2, 3, 3, 4], types.IntegerType())
w = Window.orderBy("value")
df.withColumn("drank", dense_rank().over(w)).show()

23/10/22 20:51:57 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:51:57 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:51:57 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----+-----+
|value|drank|
+-----+-----+
|    1|    1|
|    1|    1|
|    2|    2|
|    3|    3|
|    3|    3|
|    4|    4|
+-----+-----+

In [207]:
w = Window.orderBy("math score")
students.orderBy(desc("reading score")).limit(50).withColumn("drank", dense_rank().over(w)).show(50)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|drank|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----+
|female|       group B|         associate's degree|free/reduced|              completed|        76|           94|           87|    1|
|female|       group B|            master's degree|free/reduced|              completed|        77|           97|           94|    2|
|female|       group C|          bachelor's degree|    standard|              completed|        77|           94|           95|    2|
|female|       group D|           some high school|    standard|                   none|        81|           97|           96|    3|
|female|       group D|               some college|    standard|              completed|        82|           97|           96|    4|
|female|       group D|         associate's degree|    standard|                   none|        82|           95|           89|    4|
|female|       group C|         associate's degree|free/reduced|              completed|        82|           93|           93|    4|
|female|       group A|         associate's degree|    standard|                   none|        82|           93|           93|    4|
|female|       group C|          bachelor's degree|    standard|                   none|        83|           93|           95|    5|
|female|       group E|         associate's degree|    standard|                   none|        84|           95|           92|    6|
|female|       group D|            master's degree|free/reduced|              completed|        85|           95|          100|    7|
|female|       group C|           some high school|    standard|              completed|        85|           92|           93|    7|
|female|       group C|          bachelor's degree|    standard|                   none|        86|           92|           87|    8|
|female|       group D|            master's degree|    standard|                   none|        87|          100|          100|    9|
|  male|       group C|         associate's degree|    standard|              completed|        87|          100|           95|    9|
|female|       group B|                high school|    standard|                   none|        87|           95|           86|    9|
|female|       group E|         associate's degree|    standard|                   none|        87|           94|           95|    9|
|female|       group D|                high school|    standard|              completed|        88|           99|          100|   10|
|female|       group E|            master's degree|    standard|              completed|        88|           99|           95|   10|
|female|       group C|               some college|    standard|              completed|        88|           95|           94|   10|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|   10|
|female|       group C|               some college|    standard|              completed|        88|           93|           93|   10|
|female|       group D|         associate's degree|    standard|              completed|        88|           92|           95|   10|
|female|       group D|          bachelor's degree|    standard|                   none|        89|          100|          100|   11|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|   12|
|  male|       group A|          bachelor's degree|    standard|                   none|        91|           96|           92|   13|
|  male|       group B|               some college|    standard|              completed|        91|           96|           91|   13|
|female|       group C|         associate's degree|    standard|                   none|        91|           95|           94|   13|
|female|       group A|           some high school|    standard|              completed|        92|          100|           97|   14|
|female|       group E|          bachelor's degree|free/reduced|              completed|        92|          100|          100|   14|
|female|       group C|          bachelor's degree|    standard|              completed|        92|          100|           99|   14|
|female|       group D|            master's degree|    standard|                   none|        92|          100|          100|   14|
|female|       group E|         associate's degree|    standard|              completed|        93|          100|           95|   15|
|female|       group D|          bachelor's degree|free/reduced|              completed|        93|          100|          100|   15|
|female|       group E|            master's degree|    standard|              completed|        94|           99|          100|   16|
|female|       group C|          bachelor's degree|    standard|              completed|        96|          100|          100|   17|
|female|       group C|         associate's degree|    standard|              completed|        96|           96|           99|   17|
|female|       group D|           some high school|    standard|              completed|        97|          100|          100|   18|
|female|       group B|          bachelor's degree|    standard|                   none|        97|           97|           96|   18|
|  male|       group C|         associate's degree|    standard|                   none|        97|           93|           91|   18|
|female|       group D|               some college|    standard|                   none|        98|          100|           99|   19|
|female|       group E|          bachelor's degree|    standard|              completed|        99|          100|          100|   20|
|female|       group E|                high school|    standard|                   none|        99|           93|           90|   20|
|  male|       group E|         associate's degree|free/reduced|              completed|       100|          100|           93|   21|
|female|       group E|          bachelor's degree|    standard|                   none|       100|          100|          100|   21|
|  male|       group E|          bachelor's degree|    standard|              completed|       100|          100|          100|   21|
|female|       group E|         associate's degree|    standard|                   none|       100|          100|          100|   21|
|  male|       group D|               some college|    standard|              completed|       100|           97|           99|   21|
|  male|       group A|               some college|    standard|              completed|       100|           96|           86|   21|
|female|       group E|               some college|    standard|                   none|       100|           92|           97|   21|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----+

23/10/22 20:52:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:52:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 20:52:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

#### pyspark.sql.functions.lag(col: ColumnOrName, offset: int = 1, default: Optional[Any] = None) → pyspark.sql.column.Column
Window function: returns the value that is offset rows before the current row, and default if there is less than offset rows before the current row. For example, an offset of one will return the previous row at any given point in the window partition.

This is equivalent to the LAG function in SQL.

Parameters:
- col: Column or str | 
name of column or expression
- offset: int, optional default 1 | 
number of row to extend
- default: optional | 
default value

Returns – Column | 
value before current row based on offset.

In [209]:
df = spark.createDataFrame([("a", 1),
                            ("a", 2),
                            ("a", 3),
                            ("b", 8),
                            ("b", 2)], ["c1", "c2"])
df.show()

w = Window.partitionBy("c1").orderBy("c2")
df.withColumn("previos_value", lag("c2").over(w)).show()

+---+---+
| c1| c2|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
|  b|  8|
|  b|  2|
+---+---+

+---+---+-------------+
| c1| c2|previos_value|
+---+---+-------------+
|  a|  1|         NULL|
|  a|  2|            1|
|  a|  3|            2|
|  b|  2|         NULL|
|  b|  8|            2|
+---+---+-------------+

In [210]:
df.withColumn("previos_value", lag("c2", 1, 0).over(w)).show()

+---+---+-------------+
| c1| c2|previos_value|
+---+---+-------------+
|  a|  1|            0|
|  a|  2|            1|
|  a|  3|            2|
|  b|  2|            0|
|  b|  8|            2|
+---+---+-------------+

In [211]:
df.withColumn("previos_value", lag("c2", 2, -1).over(w)).show()

+---+---+-------------+
| c1| c2|previos_value|
+---+---+-------------+
|  a|  1|           -1|
|  a|  2|           -1|
|  a|  3|            1|
|  b|  2|           -1|
|  b|  8|           -1|
+---+---+-------------+

#### pyspark.sql.functions.lead(col: ColumnOrName, offset: int = 1, default: Optional[Any] = None) → pyspark.sql.column.Column
Window function: returns the value that is offset rows after the current row, and default if there is less than offset rows after the current row. For example, an offset of one will return the next row at any given point in the window partition.

This is equivalent to the LEAD function in SQL.

Parameters:
- col: Column or str | 
name of column or expression
- offset: int, optional default 1 | 
number of row to extend
- default: optional | 
default value

Returns – Column | 
value after current row based on offset.

In [212]:
df = spark.createDataFrame([("a", 1),
                            ("a", 2),
                            ("a", 3),
                            ("b", 8),
                            ("b", 2)], ["c1", "c2"])
df.show()

+---+---+
| c1| c2|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
|  b|  8|
|  b|  2|
+---+---+

In [213]:
w = Window.partitionBy("c1").orderBy("c2")
df.withColumn("next_value", lead("c2").over(w)).show()

+---+---+----------+
| c1| c2|next_value|
+---+---+----------+
|  a|  1|         2|
|  a|  2|         3|
|  a|  3|      NULL|
|  b|  2|         8|
|  b|  8|      NULL|
+---+---+----------+

In [214]:
df.withColumn("next_value", lead("c2", 1, 0).over(w)).show()

+---+---+----------+
| c1| c2|next_value|
+---+---+----------+
|  a|  1|         2|
|  a|  2|         3|
|  a|  3|         0|
|  b|  2|         8|
|  b|  8|         0|
+---+---+----------+

In [215]:
df.withColumn("next_value", lead("c2", 2, -1).over(w)).show()

+---+---+----------+
| c1| c2|next_value|
+---+---+----------+
|  a|  1|         3|
|  a|  2|        -1|
|  a|  3|        -1|
|  b|  2|        -1|
|  b|  8|        -1|
+---+---+----------+

#### pyspark.sql.functions.nth_value(col: ColumnOrName, offset: int, ignoreNulls: Optional[bool] = False) → pyspark.sql.column.Column
Window function: returns the value that is the offsetth row of the window frame (counting from 1), and null if the size of window frame is less than offset rows.

It will return the offsetth non-null value it sees when ignoreNulls is set to true. If all values are null, then null is returned.

This is equivalent to the nth_value function in SQL.

Parameters:
- col: Column or str | 
name of column or expression
- offset: int | 
number of row to use as the value
- ignoreNulls: bool, optional | 
indicates the Nth value should skip null in the determination of which row to use

Returns – Column | 
value of nth row.

In [217]:
from pyspark.sql import Window
df = spark.createDataFrame([("a", 1),
                            ("a", 2),
                            ("a", 3),
                            ("b", 8),
                            ("b", 2)], ["c1", "c2"])
df.show()

+---+---+
| c1| c2|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
|  b|  8|
|  b|  2|
+---+---+

In [218]:
w = Window.partitionBy("c1").orderBy("c2")
df.withColumn("nth_value", nth_value("c2", 1).over(w)).show()

+---+---+---------+
| c1| c2|nth_value|
+---+---+---------+
|  a|  1|        1|
|  a|  2|        1|
|  a|  3|        1|
|  b|  2|        2|
|  b|  8|        2|
+---+---+---------+

In [219]:
df.withColumn("nth_value", nth_value("c2", 2).over(w)).show()

+---+---+---------+
| c1| c2|nth_value|
+---+---+---------+
|  a|  1|     NULL|
|  a|  2|        2|
|  a|  3|        2|
|  b|  2|     NULL|
|  b|  8|        8|
+---+---+---------+

#### pyspark.sql.functions.ntile(n: int) → pyspark.sql.column.Column
Window function: returns the ntile group id (from 1 to n inclusive) in an ordered window partition. For example, if n is 4, the first quarter of the rows will get value 1, the second quarter will get 2, the third quarter will get 3, and the last quarter will get 4.

This is equivalent to the NTILE function in SQL.

In [222]:
df = spark.createDataFrame([("a", 1),
                            ("a", 2),
                            ("a", 3),
                            ("b", 8),
                            ("b", 2)], ["c1", "c2"])
df.show()

+---+---+
| c1| c2|
+---+---+
|  a|  1|
|  a|  2|
|  a|  3|
|  b|  8|
|  b|  2|
+---+---+

In [221]:
w = Window.partitionBy("c1").orderBy("c2")
df.withColumn("ntile", ntile(2).over(w)).show()

+---+---+-----+
| c1| c2|ntile|
+---+---+-----+
|  a|  1|    1|
|  a|  2|    1|
|  a|  3|    2|
|  b|  2|    1|
|  b|  8|    2|
+---+---+-----+

In [227]:
w = Window.partitionBy("parental level of education").orderBy("math score")
students.withColumn("ntile", ntile(10).over(w)).show(1000)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|ntile|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----+
|female|       group D|         associate's degree|free/reduced|                   none|        26|           31|           38|    1|
|female|       group A|         associate's degree|free/reduced|                   none|        37|           57|           56|    1|
|female|       group C|         associate's degree|    standard|                   none|        39|           64|           57|    1|
|  male|       group D|         associate's degree|    standard|                   none|        40|           52|           43|    1|
|female|       group B|         associate's degree|    standard|                   none|        40|           48|           50|    1|
|  male|       group A|         associate's degree|free/reduced|              completed|        40|           55|           53|    1|
|female|       group C|         associate's degree|    standard|                   none|        40|           59|           51|    1|
|female|       group A|         associate's degree|free/reduced|                   none|        41|           51|           48|    1|
|female|       group D|         associate's degree|free/reduced|              completed|        42|           61|           58|    1|
|  male|       group C|         associate's degree|free/reduced|              completed|        43|           45|           50|    1|
|female|       group D|         associate's degree|free/reduced|                   none|        43|           60|           58|    1|
|  male|       group B|         associate's degree|free/reduced|                   none|        44|           41|           38|    1|
|  male|       group C|         associate's degree|    standard|                   none|        46|           43|           42|    1|
|female|       group C|         associate's degree|    standard|                   none|        46|           58|           57|    1|
|  male|       group E|         associate's degree|free/reduced|                   none|        46|           43|           41|    1|
|female|       group D|         associate's degree|free/reduced|                   none|        46|           56|           57|    1|
|female|       group B|         associate's degree|free/reduced|                   none|        46|           61|           55|    1|
|  male|       group E|         associate's degree|free/reduced|              completed|        46|           43|           44|    1|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|    1|
|female|       group B|         associate's degree|    standard|                   none|        47|           49|           50|    1|
|female|       group D|         associate's degree|free/reduced|                   none|        47|           53|           58|    1|
|  male|       group C|         associate's degree|    standard|                   none|        47|           37|           35|    1|
|  male|       group B|         associate's degree|    standard|                   none|        48|           43|           45|    1|
|  male|       group C|         associate's degree|    standard|                   none|        49|           51|           43|    2|
|female|       group B|         associate's degree|    standard|                   none|        49|           52|           54|    2|
|female|       group C|         associate's degree|    standard|                   none|        49|           53|           53|    2|
|  male|       group C|         associate's degree|free/reduced|                   none|        49|           51|           51|    2|
|female|       group E|         associate's degree|free/reduced|                   none|        50|           56|           54|    2|
|  male|       group C|         associate's degree|    standard|              completed|        51|           60|           58|    2|
|female|       group E|         associate's degree|    standard|                   none|        51|           51|           54|    2|
|  male|       group D|         associate's degree|    standard|                   none|        52|           55|           49|    2|
|female|       group B|         associate's degree|free/reduced|                   none|        52|           76|           70|    2|
|female|       group B|         associate's degree|    standard|              completed|        52|           66|           73|    2|
|female|       group D|         associate's degree|free/reduced|                   none|        52|           59|           56|    2|
|  male|       group D|         associate's degree|free/reduced|                   none|        52|           57|           50|    2|
|female|       group C|         associate's degree|    standard|              completed|        52|           59|           62|    2|
|female|       group C|         associate's degree|    standard|                   none|        52|           55|           57|    2|
|female|       group B|         associate's degree|    standard|                   none|        53|           58|           65|    2|
|female|       group B|         associate's degree|free/reduced|                   none|        53|           71|           67|    2|
|female|       group C|         associate's degree|free/reduced|                   none|        53|           61|           62|    2|
|  male|       group D|         associate's degree|free/reduced|                   none|        53|           54|           48|    2|
|  male|       group E|         associate's degree|    standard|                   none|        53|           45|           40|    2|
|female|       group B|         associate's degree|free/reduced|                   none|        53|           70|           70|    2|
|female|       group C|         associate's degree|    standard|                   none|        53|           62|           53|    2|
|female|       group C|         associate's degree|free/reduced|                   none|        54|           58|           61|    2|
|  male|       group A|         associate's degree|    standard|                   none|        54|           53|           47|    2|
|female|       group B|         associate's degree|free/reduced|                   none|        54|           65|           65|    3|
|female|       group C|         associate's degree|    standard|                   none|        54|           61|           58|    3|
|  male|       group C|         associate's degree|free/reduced|                   none|        55|           61|           54|    3|
|female|       group A|         associate's degree|    standard|              completed|        55|           65|           62|    3|
|female|       group C|         associate's degree|    standard|              completed|        55|           72|           79|    3|
|female|       group D|         associate's degree|free/reduced|                   none|        55|           76|           76|    3|
|female|       group D|         associate's degree|free/reduced|                   none|        56|           65|           63|    3|
|female|       group C|         associate's degree|free/reduced|              completed|        56|           68|           70|    3|
|  male|       group B|         associate's degree|free/reduced|                   none|        57|           56|           57|    3|
|female|       group D|         associate's degree|free/reduced|              completed|        57|           74|           76|    3|
|female|       group B|         associate's degree|    standard|                   none|        57|           69|           68|    3|
|female|       group C|         associate's degree|free/reduced|                   none|        57|           78|           67|    3|
|  male|       group C|         associate's degree|    standard|              completed|        57|           54|           56|    3|
|female|       group D|         associate's degree|    standard|              completed|        57|           78|           79|    3|
|female|       group E|         associate's degree|free/reduced|              completed|        57|           68|           73|    3|
|female|       group C|         associate's degree|    standard|              completed|        57|           77|           80|    3|
|  male|       group C|         associate's degree|    standard|                   none|        58|           54|           52|    3|
|female|       group C|         associate's degree|    standard|                   none|        58|           73|           68|    3|
|female|       group B|         associate's degree|    standard|                   none|        58|           63|           65|    3|
|  male|       group C|         associate's degree|free/reduced|                   none|        58|           55|           53|    3|
|  male|       group B|         associate's degree|free/reduced|              completed|        58|           57|           53|    3|
|female|       group C|         associate's degree|    standard|                   none|        59|           66|           67|    3|
|female|       group B|         associate's degree|    standard|              completed|        59|           70|           66|    4|
|female|       group D|         associate's degree|    standard|                   none|        59|           70|           65|    4|
|female|       group C|         associate's degree|    standard|              completed|        59|           73|           72|    4|
|female|       group E|         associate's degree|    standard|                   none|        59|           62|           69|    4|
|  male|       group C|         associate's degree|free/reduced|              completed|        60|           51|           56|    4|
|female|       group C|         associate's degree|free/reduced|                   none|        60|           75|           74|    4|
|  male|       group B|         associate's degree|free/reduced|                   none|        61|           58|           56|    4|
|female|       group B|         associate's degree|    standard|              completed|        61|           86|           87|    4|
|  male|       group D|         associate's degree|    standard|                   none|        61|           55|           52|    4|
|  male|       group D|         associate's degree|    standard|                   none|        61|           48|           46|    4|
|  male|       group B|         associate's degree|    standard|                   none|        61|           42|           41|    4|
|  male|       group D|         associate's degree|free/reduced|              completed|        61|           71|           73|    4|
|  male|       group A|         associate's degree|free/reduced|                   none|        62|           61|           55|    4|
|  male|       group E|         associate's degree|    standard|              completed|        62|           56|           53|    4|
|female|       group C|         associate's degree|    standard|                   none|        62|           74|           70|    4|
|  male|       group E|         associate's degree|    standard|              completed|        62|           61|           58|    4|
|female|       group C|         associate's degree|    standard|              completed|        62|           76|           80|    4|
|  male|       group C|         associate's degree|    standard|                   none|        62|           65|           58|    4|
|female|       group C|         associate's degree|    standard|                   none|        63|           67|           70|    4|
|  male|       group A|         associate's degree|    standard|                   none|        63|           61|           61|    4|
|female|       group C|         associate's degree|free/reduced|                   none|        64|           73|           68|    4|
|  male|       group C|         associate's degree|free/reduced|                   none|        64|           66|           59|    4|
|female|       group C|         associate's degree|    standard|                   none|        64|           64|           70|    5|
|female|       group D|         associate's degree|    standard|                   none|        64|           76|           74|    5|
|  male|       group E|         associate's degree|free/reduced|                   none|        64|           56|           52|    5|
|  male|       group B|         associate's degree|    standard|                   none|        65|           54|           57|    5|
|female|       group D|         associate's degree|    standard|                   none|        65|           69|           70|    5|
|  male|       group C|         associate's degree|free/reduced|              completed|        65|           67|           65|    5|
|  male|       group B|         associate's degree|    standard|              completed|        65|           65|           63|    5|
|female|       group C|         associate's degree|free/reduced|                   none|        65|           77|           74|    5|
|female|       group A|         associate's degree|free/reduced|                   none|        65|           85|           76|    5|
|female|       group C|         associate's degree|    standard|                   none|        65|           76|           76|    5|
|female|       group C|         associate's degree|    standard|                   none|        65|           77|           74|    5|
|  male|       group C|         associate's degree|free/reduced|              completed|        65|           73|           68|    5|
|female|       group A|         associate's degree|    standard|              completed|        65|           70|           74|    5|
|female|       group C|         associate's degree|    standard|              completed|        65|           84|           84|    5|
|female|       group E|         associate's degree|    standard|              completed|        65|           75|           77|    5|
|  male|       group E|         associate's degree|    standard|              completed|        66|           63|           64|    5|
|  male|       group D|         associate's degree|free/reduced|                   none|        66|           62|           64|    5|
|female|       group E|         associate's degree|    standard|                   none|        66|           65|           69|    5|
|female|       group C|         associate's degree|    standard|                   none|        66|           77|           73|    5|
|female|       group C|         associate's degree|    standard|              completed|        67|           84|           86|    5|
|  male|       group B|         associate's degree|free/reduced|                   none|        67|           62|           60|    5|
|female|       group C|         associate's degree|    standard|              completed|        67|           84|           81|    5|
|  male|       group D|         associate's degree|    standard|              completed|        67|           72|           67|    6|
|  male|       group D|         associate's degree|    standard|              completed|        67|           54|           63|    6|
|  male|       group A|         associate's degree|    standard|                   none|        67|           57|           53|    6|
|female|       group C|         associate's degree|free/reduced|              completed|        68|           67|           69|    6|
|female|       group C|         associate's degree|    standard|              completed|        68|           86|           84|    6|
|female|       group C|         associate's degree|    standard|              completed|        68|           67|           73|    6|
|female|       group B|         associate's degree|free/reduced|              completed|        68|           77|           80|    6|
|  male|       group C|         associate's degree|free/reduced|                   none|        68|           65|           61|    6|
|female|       group E|         associate's degree|    standard|                   none|        68|           76|           67|    6|
|female|       group C|         associate's degree|    standard|                   none|        69|           80|           71|    6|
|  male|       group C|         associate's degree|    standard|                   none|        69|           77|           69|    6|
|  male|       group B|         associate's degree|free/reduced|              completed|        69|           70|           63|    6|
|female|       group E|         associate's degree|free/reduced|                   none|        70|           84|           81|    6|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|    6|
|female|       group D|         associate's degree|    standard|                   none|        71|           71|           74|    6|
|female|       group C|         associate's degree|    standard|              completed|        71|           77|           77|    6|
|  male|       group E|         associate's degree|    standard|              completed|        71|           74|           68|    6|
|  male|       group D|         associate's degree|    standard|                   none|        71|           66|           60|    6|
|  male|       group E|         associate's degree|    standard|                   none|        72|           64|           63|    6|
|  male|       group D|         associate's degree|    standard|                   none|        72|           79|           74|    6|
|  male|       group E|         associate's degree|    standard|                   none|        72|           57|           62|    6|
|  male|       group C|         associate's degree|free/reduced|                   none|        73|           68|           66|    6|
|female|       group B|         associate's degree|    standard|                   none|        73|           76|           80|    7|
|female|       group B|         associate's degree|    standard|                   none|        73|           83|           76|    7|
|female|       group D|         associate's degree|    standard|              completed|        73|           75|           80|    7|
|female|       group E|         associate's degree|free/reduced|                   none|        73|           76|           78|    7|
|  male|       group C|         associate's degree|    standard|              completed|        73|           78|           72|    7|
|female|       group D|         associate's degree|    standard|                   none|        74|           81|           83|    7|
|female|       group C|         associate's degree|    standard|              completed|        74|           75|           83|    7|
|  male|       group C|         associate's degree|    standard|                   none|        74|           73|           67|    7|
|female|       group D|         associate's degree|free/reduced|              completed|        74|           88|           90|    7|
|female|       group D|         associate's degree|free/reduced|              completed|        75|           90|           88|    7|
|  male|       group D|         associate's degree|    standard|                   none|        75|           68|           64|    7|
|  male|       group D|         associate's degree|free/reduced|                   none|        75|           66|           73|    7|

#### pyspark.sql.functions.percent_rank() → pyspark.sql.column.Column
Window function: returns the relative rank (i.e. percentile) of rows within a window partition.

In [229]:
df = spark.createDataFrame([1, 1, 2, 3, 3, 4], types.IntegerType())
w = Window.orderBy("value")
df.withColumn("pr", percent_rank().over(w)).show()

23/10/22 21:15:01 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:15:01 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:15:01 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----+---+
|value| pr|
+-----+---+
|    1|0.0|
|    1|0.0|
|    2|0.4|
|    3|0.6|
|    3|0.6|
|    4|1.0|
+-----+---+

23/10/22 21:15:01 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:15:01 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [241]:
w = Window.partitionBy("parental level of education").orderBy("math score")
students.withColumn("pr", percent_rank().over(w)).select("math score", "pr").distinct().show(100)

+----------+--------------------+
|math score|                  pr|
+----------+--------------------+
|        44| 0.05128205128205128|
|        49| 0.08547008547008547|
|        58| 0.27586206896551724|
|        77|                0.76|
|        90|  0.9095022624434389|
|        53|  0.1452991452991453|
|        79|  0.6379310344827587|
|        60| 0.28444444444444444|
|        59|  0.3089887640449438|
|        35|  0.0449438202247191|
|        59| 0.37435897435897436|
|        92|  0.9775280898876404|
|        61| 0.23076923076923078|
|        41| 0.07865168539325842|
|        51| 0.12669683257918551|
|        57| 0.24434389140271492|
|        63| 0.49743589743589745|
|        69|  0.6461538461538462|
|        53|  0.1724137931034483|
|        69|  0.5288888888888889|
|        58| 0.28054298642533937|
|        29|                 0.0|
|        60|  0.3595505617977528|
|        61|   0.334841628959276|
|        95|  0.9683257918552036|
|        74|                 0.8|
|        88|  0.9550561797752809|
|        75|  0.7022222222222222|
|        97|  0.9733333333333334|
|        24|0.011235955056179775|
|        53| 0.24719101123595505|
|        54|  0.2512820512820513|
|        90|  0.9897435897435898|
|        81|  0.7241379310344828|
|        71|  0.6460674157303371|
|        63|  0.3891402714932127|
|        82|  0.7918552036199095|
|        85|  0.8376068376068376|
|        88|  0.9692307692307692|
|        99|                 1.0|
|        44| 0.04888888888888889|
|        74|  0.6068376068376068|
|        54| 0.19909502262443438|
|        64|  0.4222222222222222|
|        79|  0.7194570135746606|
|        98|  0.9909502262443439|
|        78|  0.6206896551724138|
|        91|  0.9482758620689655|
|        50| 0.16923076923076924|
|        83|  0.8280542986425339|
|        37|0.008547008547008548|
|        55|  0.1623931623931624|
|        19|                 0.0|
|        39| 0.00904977375565611|
|       100|  0.9911111111111112|
|        77|  0.8769230769230769|
|        40|                 0.0|
|        88|  0.8793103448275862|
|        88|  0.8803418803418803|
|        41| 0.07692307692307693|
|        27|0.010256410256410256|
|        28|0.008888888888888889|
|        71|  0.6133333333333333|
|        45| 0.11235955056179775|
|        82|  0.9282051282051282|
|        67| 0.49321266968325794|
|        52|  0.1282051282051282|
|        75|  0.8256410256410256|
|        79|  0.8974358974358975|
|        48| 0.07111111111111111|
|        66|  0.5337078651685393|
|        65|  0.5384615384615384|
|        32|0.013333333333333334|
|        61|  0.4358974358974359|
|        41|0.035555555555555556|
|        62|   0.398876404494382|
|        68|  0.5203619909502263|
|        64|  0.3793103448275862|
|        87|  0.8620689655172413|
|        95|                 1.0|
|        41| 0.03167420814479638|
|        79|  0.8426966292134831|
|        43| 0.04072398190045249|
|        74|  0.6289592760180995|
|        66|   0.558974358974359|
|        45| 0.05333333333333334|
|        96|  0.9572649572649573|
|        36| 0.05128205128205128|
|        64|  0.4550561797752809|
|        71|  0.7128205128205128|
|        55| 0.17777777777777778|
|        50| 0.20224719101123595|
|        47| 0.14358974358974358|
|        44|  0.0898876404494382|
|        89|  0.9662921348314607|
|        54| 0.15384615384615385|
|        81|  0.7948717948717948|
|        72|  0.7384615384615385|
|        70|  0.6348314606741573|
|        38|0.056179775280898875|
+----------+--------------------+
only showing top 100 rows

#### pyspark.sql.functions.rank() → pyspark.sql.column.Column
Window function: returns the rank of rows within a window partition.

The difference between rank and dense_rank is that dense_rank leaves no gaps in ranking sequence when there are ties. That is, if you were ranking a competition using dense_rank and had three people tie for second place, you would say that all three were in second place and that the next person came in third. Rank would give me sequential numbers, making the person that came in third place (after the ties) would register as coming in fifth.

This is equivalent to the RANK function in SQL.

In [237]:
df = spark.createDataFrame([1, 1, 2, 3, 3, 4], types.IntegerType())
w = Window.orderBy("value")
df.withColumn("drank", rank().over(w)).show()

23/10/22 21:20:00 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:20:00 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:20:00 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----+-----+
|value|drank|
+-----+-----+
|    1|    1|
|    1|    1|
|    2|    3|
|    3|    4|
|    3|    4|
|    4|    6|
+-----+-----+

In [242]:
w = Window.partitionBy("parental level of education").orderBy("math score")
students.withColumn("drank", rank().over(w)).select("math score", "drank").distinct().show(100)

+----------+-----+
|math score|drank|
+----------+-----+
|        68|   57|
|        73|  152|
|        47|   24|
|        72|  131|
|        84|  187|
|        90|  202|
|        92|  211|
|        72|   69|
|        64|   96|
|        58|   67|
|        68|  116|
|        78|  148|
|        89|  106|
|        42|   10|
|        76|  168|
|        64|  102|
|        81|  169|
|        66|   48|
|        48|   30|
|        50|   37|
|        41|    8|
|        55|   20|
|        98|  221|
|        81|   94|
|        39|    3|
|        88|  200|
|        60|   80|
|        69|   61|
|        76|  148|
|        27|    4|
|        99|  223|
|        52|   27|
|        62|   32|
|        70|   27|
|        68|  114|
|        39|   13|
|        53|   18|
|        64|   41|
|        78|   84|
|        75|  137|
|        51|   14|
|        75|   75|
|        87|   51|
|        66|  106|
|        53|   38|
|        90|   54|
|        84|  163|
|        71|   66|
|        92|  109|
|        69|   26|
|        61|   70|
|        63|   85|
|        86|  168|
|        29|    4|
|        34|    7|
|        65|  106|
|        79|  176|
|        70|   63|
|        46|   13|
|        63|   87|
|        78|  174|
|        58|   46|
|        60|   65|
|        49|   11|
|        50|   12|
|        23|    2|
|        41|   16|
|        77|  152|
|        69|  120|
|        75|  144|
|        87|  102|
|        46|    4|
|        76|   79|
|        32|    4|
|        59|   56|
|        80|   91|
|        71|  140|
|        86|  186|
|        54|   36|
|        84|  184|
|        54|   19|
|        74|   72|
|        46|   27|
|        48|   27|
|        49|   33|
|        81|  158|
|        85|  165|
|        26|    1|
|        52|    9|
|        97|  220|
|        70|  125|
|        54|   50|
|       100|  224|
|        81|   43|
|        51|   39|
|        88|  190|
|        47|    5|
|        68|  122|
|        19|    1|
|        48|   17|
+----------+-----+
only showing top 100 rows

#### pyspark.sql.functions.row_number() → pyspark.sql.column.Column
Window function: returns a sequential number starting at 1 within a window partition.

In [240]:
df = spark.range(3)
w = Window.orderBy(df.id.desc())
df.withColumn("desc_order", row_number().over(w)).show()

+---+----------+
| id|desc_order|
+---+----------+
|  2|         1|
|  1|         2|
|  0|         3|
+---+----------+

23/10/22 21:21:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:21:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:21:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:21:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/22 21:21:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [246]:
w = Window.partitionBy("parental level of education").orderBy("math score")
students.withColumn("desc_order", row_number().over(w)).select("math score", "desc_order").distinct().limit(20).orderBy(asc("desc_order")).show()

+----------+----------+
|math score|desc_order|
+----------+----------+
|        32|         8|
|        47|        24|
|        53|        49|
|        68|        57|
|        68|        60|
|        69|        62|
|        72|        69|
|        61|        77|
|        62|        78|
|        63|        81|
|        60|        84|
|        80|        93|
|        69|       112|
|        72|       131|
|        73|       152|
|        73|       153|
|        84|       185|
|        84|       187|
|        90|       202|
|        92|       211|
+----------+----------+

## [Sort Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#sort-functions)

#### pyspark.sql.functions.asc(col: ColumnOrName) → pyspark.sql.column.Column
Returns a sort expression based on the ascending order of the given column name.

In [182]:
df = spark.range(5)
df = df.sort(desc("id"))
df.show()

+---+
| id|
+---+
|  4|
|  3|
|  2|
|  1|
|  0|
+---+

In [183]:
df.orderBy(asc("id")).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [189]:
students.orderBy(asc("math score")).toPandas()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,19,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,female,group E,bachelor's degree,standard,none,100,100,100
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,bachelor's degree,standard,completed,100,100,100
999,female,group E,associate's degree,standard,none,100,100,100

#### pyspark.sql.functions.asc_nulls_first(col: ColumnOrName) → pyspark.sql.column.Column
Returns a sort expression based on the ascending order of the given column name, and null values return before non-null values.

In [184]:
df1 = spark.createDataFrame([(1, "Bob"),
                             (0, None),
                             (2, "Alice")], ["age", "name"])
df1.sort(asc_nulls_first(df1.name)).show()

+---+-----+
|age| name|
+---+-----+
|  0| NULL|
|  2|Alice|
|  1|  Bob|
+---+-----+

#### pyspark.sql.functions.asc_nulls_last(col: ColumnOrName) → pyspark.sql.column.Column
Returns a sort expression based on the ascending order of the given column name, and null values appear after non-null values.

In [185]:
df1 = spark.createDataFrame([(0, None),
                             (1, "Bob"),
                             (2, "Alice")], ["age", "name"])
df1.sort(asc_nulls_last(df1.name)).show()

+---+-----+
|age| name|
+---+-----+
|  2|Alice|
|  1|  Bob|
|  0| NULL|
+---+-----+

In [192]:
tour.orderBy(asc("Value")).show()

+----------------+------+--------------------+--------------------+-----+
|     Player Name|Season|           Statistic|            Variable|Value|
+----------------+------+--------------------+--------------------+-----+
|   Jordan Spieth|  2018| Par 4 Eagle Leaders|Par 4 Eagle Leade...| NULL|
|   Gary Woodland|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
|Brendon de Jonge|  2010|FedExCup Season P...|FedExCup Season P...| NULL|
|      Jon Curran|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
| Charley Hoffman|  2017|FedExCup Season P...|FedExCup Season P...| NULL|
| David Lingmerth|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
|      Charlie Wi|  2010|FedExCup Season P...|FedExCup Season P...| NULL|
|    Patrick Reed|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
|    Bubba Watson|  2013|FedExCup Season P...|FedExCup Season P...| NULL|
|    Zach Johnson|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
|      Paul Casey|  2010|FedExCup Season P...|FedExCup Season P...| NULL|
|  Billy Horschel|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
|       Luke List|  2017|FedExCup Season P...|FedExCup Season P...| NULL|
|      Paul Casey|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
|      Ryan Moore|  2010|FedExCup Season P...|FedExCup Season P...| NULL|
|   Brooks Koepka|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
|    Lee Westwood|  2014|Driving Pct. 240-...|Driving Pct. 240-...| NULL|
|    Webb Simpson|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
|     Sean O'Hair|  2010|FedExCup Season P...|FedExCup Season P...| NULL|
|        Kevin Na|  2016|% of Potential Pt...|% of Potential Pt...| NULL|
+----------------+------+--------------------+--------------------+-----+
only showing top 20 rows

In [193]:
tour.orderBy(asc_nulls_last("Value")).show()

+--------------+------+--------------------+--------------------+----------+
|   Player Name|Season|           Statistic|            Variable|     Value|
+--------------+------+--------------------+--------------------+----------+
|   Chris Riley|  2010|Percentage of Ava...|Percentage of Ava...|$1,001,580|
|   Chris Riley|  2010|Percentage of pot...|Percentage of pot...|$1,001,581|
|   Chris Riley|  2010|Money per Event L...|Money per Event L...|$1,001,581|
|Steve Stricker|  2017|      Official Money|Official Money - ...|$1,002,036|
|Steve Stricker|  2017|Percentage of Ava...|Percentage of Ava...|$1,002,036|
|Steve Stricker|  2017|Money per Event L...|Money per Event L...|$1,002,036|
|Steve Stricker|  2017|Percentage of pot...|Percentage of pot...|$1,002,036|
|  Robert Streb|  2016|Percentage of Ava...|Percentage of Ava...|$1,003,359|
|  Robert Streb|  2016|Percentage of pot...|Percentage of pot...|$1,003,362|
|  Robert Streb|  2016|Money per Event L...|Money per Event L...|$1,003,362|
|  Robert Streb|  2016|Total Money (Offi...|Total Money (Offi...|$1,003,363|
|  Robert Streb|  2016|      Official Money|Official Money - ...|$1,003,363|
|      Jon Rahm|  2016|Percentage of Ava...|Percentage of Ava...|$1,004,033|
|      Jon Rahm|  2016|Percentage of pot...|Percentage of pot...|$1,004,034|
|      Jon Rahm|  2016|Money per Event L...|Money per Event L...|$1,004,034|
|      Jon Rahm|  2016|Total Money (Offi...|Total Money (Offi...|$1,004,035|
|      Jon Rahm|  2016|      Official Money|Official Money - ...|$1,004,035|
|Brendan Steele|  2013|Percentage of Ava...|Percentage of Ava...|$1,004,159|
|Brendan Steele|  2013|Percentage of pot...|Percentage of pot...|$1,004,160|
|Brendan Steele|  2013|Money per Event L...|Money per Event L...|$1,004,160|
+--------------+------+--------------------+--------------------+----------+
only showing top 20 rows

#### pyspark.sql.functions.desc(col: ColumnOrName) → pyspark.sql.column.Column
Returns a sort expression based on the descending order of the given column name.

In [187]:
spark.range(5).orderBy(desc("id")).show()

+---+
| id|
+---+
|  4|
|  3|
|  2|
|  1|
|  0|
+---+

In [191]:
tour.orderBy(desc("Value")).show()

+------------------+------+--------------------+--------------------+--------------------+
|       Player Name|Season|           Statistic|            Variable|               Value|
+------------------+------+--------------------+--------------------+--------------------+
|    Soren Kjeldsen|  2016|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|      Jason Dufner|  2017|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|       Vijay Singh|  2018|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|     Scott Gregory|  2017|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|      Ryan Ruffels|  2016|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|       Andrew Dorn|  2018|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|         John Hahn|  2016|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|       Kenny Perry|  2018|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|       Harry Ellis|  2018|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|    Andrew Svoboda|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|        Chris Kirk|  2014|       Longest Putts|Longest Putts - (...|the Memorial Tour...|
|     Justin Thomas|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|      Will Claxton|  2012|       Longest Putts|Longest Putts - (...|the Memorial Tour...|
|     Gary Woodland|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|Charles Howell III|  2014|       Longest Putts|Longest Putts - (...|the Memorial Tour...|
|      Jason Dufner|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|   Robert Karlsson|  2011|       Longest Putts|Longest Putts - (...|the Memorial Tour...|
|    Steve Stricker|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|    Justin Leonard|  2014|       Longest Putts|Longest Putts - (...|the Memorial Tour...|
|Charles Howell III|  2013|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
+------------------+------+--------------------+--------------------+--------------------+
only showing top 20 rows

#### pyspark.sql.functions.desc_nulls_first(col: ColumnOrName) → pyspark.sql.column.Column
Returns a sort expression based on the descending order of the given column name, and null values appear before non-null values.

In [195]:
df1 = spark.createDataFrame([(0, None),
                             (1, "Bob"),
                             (2, "Alice")], ["age", "name"])
df1.sort(desc_nulls_first(df1.name)).show()

+---+-----+
|age| name|
+---+-----+
|  0| NULL|
|  1|  Bob|
|  2|Alice|
+---+-----+

#### pyspark.sql.functions.desc_nulls_last(col: ColumnOrName) → pyspark.sql.column.Column
Returns a sort expression based on the descending order of the given column name, and null values appear after non-null values.

In [196]:
df1 = spark.createDataFrame([(0, None),
                             (1, "Bob"),
                             (2, "Alice")], ["age", "name"])
df1.sort(desc_nulls_last(df1.name)).show()

+---+-----+
|age| name|
+---+-----+
|  1|  Bob|
|  2|Alice|
|  0| NULL|
+---+-----+

In [197]:
tour.orderBy(desc_nulls_last("Value")).show()

+------------------+------+--------------------+--------------------+--------------------+
|       Player Name|Season|           Statistic|            Variable|               Value|
+------------------+------+--------------------+--------------------+--------------------+
|      Jason Dufner|  2017|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|       Vijay Singh|  2018|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|    Soren Kjeldsen|  2016|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|       Andrew Dorn|  2018|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|     Scott Gregory|  2017|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|       Kenny Perry|  2018|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|      Ryan Ruffels|  2016|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|       Harry Ellis|  2018|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|         John Hahn|  2016|        Lowest Round|Lowest Round - (T...|     the Memorial/Mu|
|    Andrew Svoboda|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|     Troy Matteson|  2011|      Longest Drives|Longest Drives - ...|the Memorial Tour...|
|     Justin Thomas|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|      Chad Collins|  2010|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|     Gary Woodland|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|     Kevin Stadler|  2011|      Longest Drives|Longest Drives - ...|the Memorial Tour...|
|      Jason Dufner|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|Charles Howell III|  2013|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|    Steve Stricker|  2014|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|    Steve Stricker|  2011|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
|        Adam Scott|  2010|Longest Hole Outs...|Longest Hole Outs...|the Memorial Tour...|
+------------------+------+--------------------+--------------------+--------------------+
only showing top 20 rows

## [String Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#string-functions)

#### pyspark.sql.functions.ascii(col: ColumnOrName) → pyspark.sql.column.Column
Computes the numeric value of the first character of the string column.

In [248]:
df = spark.createDataFrame(["Spark", "PySpark", "Pandas API"], "STRING")
df.select(ascii("value")).show()

+------------+
|ascii(value)|
+------------+
|          83|
|          80|
|          80|
+------------+

#### pyspark.sql.functions.base64(col: ColumnOrName) → pyspark.sql.column.Column
Computes the BASE64 encoding of a binary column and returns it as a string column.

In [250]:
df = spark.createDataFrame(["Spark", "PySpark", "Pandas API"], "STRING")
df.select(base64("value")).show()

+----------------+
|   base64(value)|
+----------------+
|        U3Bhcms=|
|    UHlTcGFyaw==|
|UGFuZGFzIEFQSQ==|
+----------------+

#### pyspark.sql.functions.bit_length(col: ColumnOrName) → pyspark.sql.column.Column
Calculates the bit length for the specified string column.

In [257]:
df = spark.createDataFrame([('cat',), ( '🐈',), ( 'кіт',)], ['cat'])
df.select(bit_length('cat')).collect()

[Row(bit_length(cat)=24), Row(bit_length(cat)=32), Row(bit_length(cat)=48)]

#### pyspark.sql.functions.btrim(str: ColumnOrName, trim: Optional[ColumnOrName] = None) → pyspark.sql.column.Column
Remove the leading and trailing trim characters from str.

In [262]:
df = spark.createDataFrame([("SSparkSQLS", "SL", )], ['a', 'b'])
df.select(btrim(df.a, df.b).alias('r')).collect()

[Row(r='parkSQ')]

In [260]:
df = spark.createDataFrame([("    SparkSQL   ",)], ['a'])
df.select(btrim(df.a).alias('r')).collect()

[Row(r='SparkSQL')]

#### pyspark.sql.functions.char(col: ColumnOrName) → pyspark.sql.column.Column
Returns the ASCII character having the binary equivalent to col. If col is larger than 256 the result is equivalent to char(col % 256)

In [263]:
spark.range(1).select(char(lit(65))).show()

+--------+
|char(65)|
+--------+
|       A|
+--------+

#### pyspark.sql.functions.character_length(str: ColumnOrName) → pyspark.sql.column.Column
Returns the character length of string data or number of bytes of binary data. The length of string data includes the trailing spaces. The length of binary data includes binary zeros.

In [264]:
spark.range(1).select(sf.character_length(sf.lit("SparkSQL"))).show()

+--------------------------+
|character_length(SparkSQL)|
+--------------------------+
|                         8|
+--------------------------+

#### pyspark.sql.functions.char_length(str: ColumnOrName) → pyspark.sql.column.Column
Returns the character length of string data or number of bytes of binary data. The length of string data includes the trailing spaces. The length of binary data includes binary zeros.

In [265]:
spark.range(1).select(char_length(lit("SparkSQL"))).show()

+---------------------+
|char_length(SparkSQL)|
+---------------------+
|                    8|
+---------------------+

#### pyspark.sql.functions.concat_ws(sep: str, *cols: ColumnOrName) → pyspark.sql.column.Column¶
Concatenates multiple input string columns together into a single string column, using the given separator.

In [266]:
df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
df.select(concat_ws('-', df.s, df.d).alias('s')).collect()

[Row(s='abcd-123')]

#### pyspark.sql.functions.contains(left: ColumnOrName, right: ColumnOrName) → pyspark.sql.column.Column
Returns a boolean. The value is True if right is found inside left. Returns NULL if either input expression is NULL. Otherwise, returns False. Both left or right must be of STRING or BINARY type.

Parameters:
- left: Column or str | 
The input column or strings to check, may be NULL.
- right: Column or str | 
The input column or strings to find, may be NULL.

In [267]:
df = spark.createDataFrame([("Spark SQL", "Spark")], ['a', 'b'])
df.select(contains(df.a, df.b).alias('r')).collect()

[Row(r=True)]

In [268]:
df = spark.createDataFrame([("414243", "4243",)], ["c", "d"])
df = df.select(to_binary("c").alias("c"), to_binary("d").alias("d"))
df.printSchema()

root
 |-- c: binary (nullable = true)
 |-- d: binary (nullable = true)

In [269]:
df.select(contains("c", "d"), contains("d", "c")).show()

+--------------+--------------+
|contains(c, d)|contains(d, c)|
+--------------+--------------+
|          true|         false|
+--------------+--------------+

#### pyspark.sql.functions.decode(col: ColumnOrName, charset: str) → pyspark.sql.column.Column
Computes the first argument into a string from a binary using the provided character set (one of ‘US-ASCII’, ‘ISO-8859-1’, ‘UTF-8’, ‘UTF-16BE’, ‘UTF-16LE’, ‘UTF-16’).

In [270]:
df = spark.createDataFrame([('abcd',)], ['a'])
df.select(decode("a", "UTF-8")).show()

+----------------+
|decode(a, UTF-8)|
+----------------+
|            abcd|
+----------------+

In [277]:
df = spark.createDataFrame([('кіт кит дельфін',)], ['a'])
df.select(decode("a", "UTF-8")).show()

+----------------+
|decode(a, UTF-8)|
+----------------+
| кіт кит дельфін|
+----------------+

#### pyspark.sql.functions.elt(*inputs: ColumnOrName) → pyspark.sql.column.Column
Returns the n-th input, e.g., returns input2 when n is 2. The function returns NULL if the index exceeds the length of the array and spark.sql.ansi.enabled is set to false. If spark.sql.ansi.enabled is set to true, it throws ArrayIndexOutOfBoundsException for invalid indices.

In [278]:
df = spark.createDataFrame([(1, "scala", "java")], ['a', 'b', 'c'])
df.select(elt(df.a, df.b, df.c).alias('r')).collect()

[Row(r='scala')]

In [281]:
df = spark.createDataFrame([(1, "scala", "java")], ['a', 'b', 'c'])
df.select(elt(df.a, df.b, df.c).alias('r')).collect()

[Row(r='scala')]

In [282]:
df = spark.createDataFrame([("ggg", "scala", "java")], ['a', 'b', 'c'])
df.select(elt(lit(2), df.b, df.c).alias('r')).collect()

[Row(r='java')]

In [286]:
df.select(elt(lit(0), df.b, df.c).alias('r'), elt(lit(3), df.b, df.c).alias('r')).collect()

[Row(r=None, r=None)]

#### pyspark.sql.functions.encode(col: ColumnOrName, charset: str) → pyspark.sql.column.Column
Computes the first argument into a binary from a string using the provided character set (one of ‘US-ASCII’, ‘ISO-8859-1’, ‘UTF-8’, ‘UTF-16BE’, ‘UTF-16LE’, ‘UTF-16’).

In [287]:
df = spark.createDataFrame([('abcd',)], ['c'])
df.select(encode("c", "UTF-8")).show()

+----------------+
|encode(c, UTF-8)|
+----------------+
|   [61 62 63 64]|
+----------------+

In [294]:
df = spark.createDataFrame([('кіт кит дельфін',)], ['c'])
df = df.select(encode("c", "UTF-16").alias("encode"))
df.show(truncate=False)
df.select(decode("encode", "UTF-16")).show()

+-------------------------------------------------------------------------------------------------+
|encode                                                                                           |
+-------------------------------------------------------------------------------------------------+
|[FE FF 04 3A 04 56 04 42 00 20 04 3A 04 38 04 42 00 20 04 34 04 35 04 3B 04 4C 04 44 04 56 04 3D]|
+-------------------------------------------------------------------------------------------------+

+----------------------+
|decode(encode, UTF-16)|
+----------------------+
|       кіт кит дельфін|
+----------------------+

#### pyspark.sql.functions.endswith(str: ColumnOrName, suffix: ColumnOrName) → pyspark.sql.column.Column
Returns a boolean. The value is True if str ends with suffix. Returns NULL if either input expression is NULL. Otherwise, returns False. Both str or suffix must be of STRING or BINARY type.

In [295]:
df = spark.createDataFrame([("Spark SQL", "Spark",)], ["a", "b"])
df.select(endswith(df.a, df.b).alias('r')).collect()

[Row(r=False)]

In [296]:
df = spark.createDataFrame([("414243", "4243",)], ["e", "f"])
df = df.select(to_binary("e").alias("e"), to_binary("f").alias("f"))
df.printSchema()

root
 |-- e: binary (nullable = true)
 |-- f: binary (nullable = true)

In [297]:
df.select(endswith("e", "f"), endswith("f", "e")).show()

+--------------+--------------+
|endswith(e, f)|endswith(f, e)|
+--------------+--------------+
|          true|         false|
+--------------+--------------+

#### pyspark.sql.functions.find_in_set(str: ColumnOrName, str_array: ColumnOrName) → pyspark.sql.column.Column
Returns the index (1-based) of the given string (str) in the comma-delimited list (strArray). Returns 0, if the string was not found or if the given string (str) contains a comma.

In [298]:
df = spark.createDataFrame([("ab", "abc,b,ab,c,def")], ['a', 'b'])
df.select(find_in_set(df.a, df.b).alias('r')).collect()

[Row(r=3)]

#### pyspark.sql.functions.format_number(col: ColumnOrName, d: int) → pyspark.sql.column.Column
Formats the number X to a format like ‘#,–#,–#.–’, rounded to d decimal places with HALF_EVEN round mode, and returns the result as a string.

In [299]:
spark.createDataFrame([(5,)], ['a']).select(format_number('a', 4).alias('v')).collect()

[Row(v='5.0000')]

#### pyspark.sql.functions.format_string(format: str, *cols: ColumnOrName) → pyspark.sql.column.Column
Formats the arguments in printf-style and returns the result as a string column.

In [300]:
df = spark.createDataFrame([(5, "hello")], ['a', 'b'])
df.select(format_string('%d %s', df.a, df.b).alias('v')).collect()

[Row(v='5 hello')]

#### pyspark.sql.functions.ilike(str: ColumnOrName, pattern: ColumnOrName, escapeChar: Optional[Column] = None) → pyspark.sql.column.Column
Returns true if str matches pattern with escape case-insensitively, null if any arguments are null, false otherwise. The default escape character is the ‘’.

Parameters: 
- str: Column or str | 
A string.
- pattern: Column or str |
A string. The pattern is a string which is matched literally, with exception to the following special symbols: _ matches any one character in the input (similar to . in posix regular expressions) % matches zero or more characters in the input (similar to .* in posix regular expressions) Since Spark 2.0, string literals are unescaped in our SQL parser. For example, in order to match “bc”, the pattern should be “abc”. When SQL config ‘spark.sql.parser.escapedStringLiterals’ is enabled, it falls back to Spark 1.6 behavior regarding string literal parsing. For example, if the config is enabled, the pattern to match “bc” should be “bc”.
- escape: Column |
An character added since Spark 3.0. The default escape character is the ‘’. If an escape character precedes a special symbol or another escape character, the following character is matched literally. It is invalid to escape any other character.

In [301]:
df = spark.createDataFrame([("Spark", "_park")], ['a', 'b'])
df.select(ilike(df.a, df.b).alias('r')).collect()

[Row(r=True)]

In [302]:
df = spark.createDataFrame(
    [("%SystemDrive%/Users/John", "/%SystemDrive/%//Users%")],
    ['a', 'b']
)
df.select(ilike(df.a, df.b, lit('/')).alias('r')).collect()

[Row(r=True)]

#### pyspark.sql.functions.initcap(col: ColumnOrName) → pyspark.sql.column.Column
Translate the first letter of each word to upper case in the sentence.

In [304]:
spark.createDataFrame([('ab cd',)], ['a']).select(initcap("a").alias('v')).collect()

[Row(v='Ab Cd')]

#### pyspark.sql.functions.instr(str: ColumnOrName, substr: str) → pyspark.sql.column.Column
Locate the position of the first occurrence of substr column in the given string. Returns null if either of the arguments are null.

##### Notes

The position is not zero based, but 1 based index. Returns 0 if substr could not be found in str.

In [306]:
df = spark.createDataFrame([('abcd',)], ['s',])
df.select(instr(df.s, 'b').alias('s')).collect()

[Row(s=2)]

#### pyspark.sql.functions.lcase(str: ColumnOrName) → pyspark.sql.column.Column
Returns str with all characters changed to lowercase.

In [307]:
spark.range(1).select(sf.lcase(sf.lit("Spark"))).show()

+------------+
|lcase(Spark)|
+------------+
|       spark|
+------------+

#### pyspark.sql.functions.length(col: ColumnOrName) → pyspark.sql.column.Column
Computes the character length of string data or number of bytes of binary data. The length of character data includes the trailing spaces. The length of binary data includes binary zeros.

In [308]:
spark.createDataFrame([('ABC ',)], ['a']).select(length('a').alias('length')).collect()

[Row(length=4)]

#### pyspark.sql.functions.like(str: ColumnOrName, pattern: ColumnOrName, escapeChar: Optional[Column] = None) → pyspark.sql.column.Column
Returns true if str matches pattern with escape, null if any arguments are null, false otherwise. The default escape character is the ‘’.

Parameters:
- str: Column or str |
A string.
- pattern: Column or str | 
A string. The pattern is a string which is matched literally, with exception to the following special symbols: _ matches any one character in the input (similar to . in posix regular expressions) % matches zero or more characters in the input (similar to .* in posix regular expressions) Since Spark 2.0, string literals are unescaped in our SQL parser. For example, in order to match “bc”, the pattern should be “abc”. When SQL config ‘spark.sql.parser.escapedStringLiterals’ is enabled, it falls back to Spark 1.6 behavior regarding string literal parsing. For example, if the config is enabled, the pattern to match “bc” should be “bc”.
- escape: Column |
An character added since Spark 3.0. The default escape character is the ‘’. If an escape character precedes a special symbol or another escape character, the following character is matched literally. It is invalid to escape any other character.

In [309]:
df = spark.createDataFrame([("Spark", "_park")], ['a', 'b'])
df.select(like(df.a, df.b).alias('r')).collect()

[Row(r=True)]

In [310]:
df = spark.createDataFrame(
    [("%SystemDrive%/Users/John", "/%SystemDrive/%//Users%")],
    ['a', 'b']
)
df.select(like(df.a, df.b, lit('/')).alias('r')).collect()

[Row(r=True)]

#### pyspark.sql.functions.lower(col: ColumnOrName) → pyspark.sql.column.Column¶
Converts a string expression to lower case.

In [311]:
df = spark.createDataFrame(["Spark", "PySpark", "Pandas API"], "STRING")
df.select(lower("value")).show()

+------------+
|lower(value)|
+------------+
|       spark|
|     pyspark|
|  pandas api|
+------------+

#### pyspark.sql.functions.left(str: ColumnOrName, len: ColumnOrName) → pyspark.sql.column.Column
    Returns the leftmost len`(`len can be string type) characters from the string str, if len is less or equal than 0 the result is an empty string.

In [312]:
df = spark.createDataFrame([("Spark SQL", 3,)], ['a', 'b'])
df.select(left(df.a, df.b).alias('r')).collect()

[Row(r='Spa')]

#### pyspark.sql.functions.levenshtein(left: ColumnOrName, right: ColumnOrName, threshold: Optional[int] = None) → pyspark.sql.column.Column
Computes the Levenshtein distance of the two given strings.

Parameters:
- leftColumn or str
first column value.
- right: Column or str | 
second column value.
- threshold: int, optional | 
if set when the levenshtein distance of the two given strings less than or equal to a given threshold then return result distance, or -1

Returns – Column | Levenshtein distance as integer value.

In [313]:
df0 = spark.createDataFrame([('kitten', 'sitting',)], ['l', 'r'])
df0.select(levenshtein('l', 'r').alias('d')).collect()

[Row(d=3)]

In [314]:
df0.select(levenshtein('l', 'r', 2).alias('d')).collect()

[Row(d=-1)]

#### pyspark.sql.functions.locate(substr: str, str: ColumnOrName, pos: int = 1) → pyspark.sql.column.Column
Locate the position of the first occurrence of substr in a string column, after position pos.

##### Notes

The position is not zero based, but 1 based index. Returns 0 if substr could not be found in str.

In [315]:
df = spark.createDataFrame([('abcd',)], ['s',])
df.select(locate('b', df.s, 1).alias('s')).collect()

[Row(s=2)]

#### pyspark.sql.functions.lpad(col: ColumnOrName, len: int, pad: str) → pyspark.sql.column.Column
Left-pad the string column to width len with pad.

In [316]:
df = spark.createDataFrame([('abcd',)], ['s',])
df.select(lpad(df.s, 6, '#').alias('s')).collect()

[Row(s='##abcd')]

In [318]:
tour.limit(10).select(lpad(tour["Player name"], 20, '~').alias('s')).show()

+--------------------+
|                   s|
+--------------------+
|~~~~~Robert Garrigus|
|~~~~~~~~Bubba Watson|
|~~~~~~Dustin Johnson|
|~~~~~Brett Wetterich|
|~~~~~~~~~J.B. Holmes|
|~~~~~~~~~~~John Daly|
|~~~~~~~Graham DeLaet|
|~~~~~~~Angel Cabrera|
|~~~~~~Charles Warren|
|~~~~~~~~~D.J. Trahan|
+--------------------+

#### pyspark.sql.functions.ltrim(col: ColumnOrName) → pyspark.sql.column.Column
Trim the spaces from left end for the specified string value.

In [319]:
df = spark.createDataFrame(["   Spark", "Spark  ", " Spark"], "STRING")
df.select(ltrim("value").alias("r")).withColumn("length", length("r")).show()

+-------+------+
|      r|length|
+-------+------+
|  Spark|     5|
|Spark  |     7|
|  Spark|     5|
+-------+------+

#### pyspark.sql.functions.mask(col: ColumnOrName, upperChar: Optional[ColumnOrName] = None, lowerChar: Optional[ColumnOrName] = None, digitChar: Optional[ColumnOrName] = None, otherChar: Optional[ColumnOrName] = None) → pyspark.sql.column.Column
Masks the given string value. This can be useful for creating copies of tables with sensitive information removed.

Parameters:

    col: :class:`~pyspark.sql.Column` or str
        target column to compute on.

    upperChar: :class:`~pyspark.sql.Column` or str
        character to replace upper-case characters with. Specify NULL to retain original character.

    lowerChar: :class:`~pyspark.sql.Column` or str
        character to replace lower-case characters with. Specify NULL to retain original character.

    digitChar: :class:`~pyspark.sql.Column` or str
        character to replace digit characters with. Specify NULL to retain original character.

    otherChar: :class:`~pyspark.sql.Column` or str
        character to replace all other characters with. Specify NULL to retain original character.

Returns | Column

In [320]:
df = spark.createDataFrame([("AbCD123-@$#",), ("abcd-EFGH-8765-4321",)], ['data'])
df.select(mask(df.data).alias('r')).collect()

[Row(r='XxXXnnn-@$#'), Row(r='xxxx-XXXX-nnnn-nnnn')]

In [321]:
df.select(mask(df.data, lit('Y')).alias('r')).collect()

[Row(r='YxYYnnn-@$#'), Row(r='xxxx-YYYY-nnnn-nnnn')]

In [322]:
df.select(mask(df.data, lit('Y'), lit('y')).alias('r')).collect()

[Row(r='YyYYnnn-@$#'), Row(r='yyyy-YYYY-nnnn-nnnn')]

In [323]:
df.select(mask(df.data, lit('Y'), lit('y'), lit('d')).alias('r')).collect()

[Row(r='YyYYddd-@$#'), Row(r='yyyy-YYYY-dddd-dddd')]

In [324]:
df.select(mask(df.data, lit('Y'), lit('y'), lit('d'), lit('*')).alias('r')).collect()

[Row(r='YyYYddd****'), Row(r='yyyy*YYYY*dddd*dddd')]

In [326]:
df = spark.createDataFrame([("AbCD123-@$#",),
                            ("abcd-EFGH-8765-4321",),
                            ("1234-5678-8765-4321",),
                            ("12345678",),
                            ("Абаба Галамага",),
                            ("Тест_1234_!'№;_test",),
                            ("k[MY0&[&jwts",),
                           ], ['data'])
df.select(mask(df.data).alias('r')).collect()

[Row(r='XxXXnnn-@$#'),
 Row(r='xxxx-XXXX-nnnn-nnnn'),
 Row(r='nnnn-nnnn-nnnn-nnnn'),
 Row(r='nnnnnnnn'),
 Row(r='Xxxxx Xxxxxxxx'),
 Row(r="Xxxx_nnnn_!'№;_xxxx"),
 Row(r='x[XXn&[&xxxx')]

#### pyspark.sql.functions.octet_length(col: ColumnOrName) → pyspark.sql.column.Column
Calculates the byte length for the specified string column.

In [327]:
spark.createDataFrame([('cat',), ( '🐈',)], ['cat']) \
     .select(octet_length('cat')).collect()

[Row(octet_length(cat)=3), Row(octet_length(cat)=4)]

#### pyspark.sql.functions.parse_url(url: ColumnOrName, partToExtract: ColumnOrName, key: Optional[ColumnOrName] = None) → pyspark.sql.column.Column
Extracts a part from a URL.

    'HOST': Домен (наприклад, www.example.com).
    'PATH': Шлях (наприклад, /page1).
    'QUERY': Рядок запиту (наприклад, ?param1=value1&param2=value2).
    'SCHEME': Протокол (наприклад, http).
    'FILE': Шлях до файлу.
    'REF': Фрагмент (якщо він вказаний у URL).

In [328]:
df = spark.createDataFrame(
    [("http://spark.apache.org/path?query=1", "QUERY", "query",)],
    ["a", "b", "c"]
)
df.select(parse_url(df.a, df.b, df.c).alias('r')).collect()

[Row(r='1')]

In [329]:
df.select(parse_url(df.a, df.b).alias('r')).collect()

[Row(r='query=1')]

In [336]:
df.select(parse_url(df.a, lit("PATH")).alias('r')).collect()

[Row(r='/path')]

In [340]:
df.select(parse_url(df.a, lit("HOST")).alias('r')).collect()

[Row(r='spark.apache.org')]

#### pyspark.sql.functions.position(substr: ColumnOrName, str: ColumnOrName, start: Optional[ColumnOrName] = None) → pyspark.sql.column.Column
Returns the position of the first occurrence of substr in str after position start. The given start and return value are 1-based.

In [344]:
spark.createDataFrame(
    [("bar", "foobarbar", 5,)], ["a", "b", "c"]
).select(position("a", "b", "c")).show()

+-----------------+
|position(a, b, c)|
+-----------------+
|                7|
+-----------------+

In [345]:
spark.createDataFrame(
    [("bar", "foobarbar", 5,)], ["a", "b", "c"]
).select(position("a", "b")).show()

+-----------------+
|position(a, b, 1)|
+-----------------+
|                4|
+-----------------+

#### pyspark.sql.functions.printf(format: ColumnOrName, *cols: ColumnOrName) → pyspark.sql.column.Column
Formats the arguments in printf-style and returns the result as a string column.

In [346]:
spark.createDataFrame(
    [("aa%d%sqwe", 123, "cc",)], ["a", "b", "c"]
).select(printf("a", "b", "c")).show()

+---------------+
|printf(a, b, c)|
+---------------+
|     aa123ccqwe|
+---------------+

#### pyspark.sql.functions.rlike(str: ColumnOrName, regexp: ColumnOrName) → pyspark.sql.column.Column
Returns true if str matches the Java regex regexp, or false otherwise.

In [347]:
df = spark.createDataFrame([("1a 2b 14m", r"(\d+)")], ["str", "regexp"])
df.select(rlike('str', lit(r'(\d+)')).alias('d')).collect()

[Row(d=True)]

In [348]:
df.select(rlike('str', lit(r'\d{2}b')).alias('d')).collect()

[Row(d=False)]

In [349]:
df.select(rlike("str", col("regexp")).alias('d')).collect()

[Row(d=True)]

#### pyspark.sql.functions.regexp(str: ColumnOrName, regexp: ColumnOrName) → pyspark.sql.column.Column
Returns true if str matches the Java regex regexp, or false otherwise.

Parameters:
- str: Column or str | 
target column to work on.
- regexp: Column or str | 
regex pattern to apply.

Returns – Column | true if str matches a Java regex, or false otherwise.

In [351]:
spark.createDataFrame(
    [("1a 2b 14m", r"(\d+)")], ["str", "regexp"]
).select(regexp('str', lit(r'(\d+)'))).show()

+------------------+
|REGEXP(str, (\d+))|
+------------------+
|              true|
+------------------+

In [352]:
spark.createDataFrame(
    [("1a 2b 14m", r"(\d+)")], ["str", "regexp"]
).select(regexp('str', lit(r'\d{2}b'))).show()

+-------------------+
|REGEXP(str, \d{2}b)|
+-------------------+
|              false|
+-------------------+

In [3]:
spark.createDataFrame(
    [("1a 2b 14m", r"(\d+)")], ["str", "regexp"]
).select(regexp('str', col("regexp"))).show()

+-------------------+
|REGEXP(str, regexp)|
+-------------------+
|               true|
+-------------------+

#### pyspark.sql.functions.regexp_like(str: ColumnOrName, regexp: ColumnOrName) → pyspark.sql.column.Column
Returns true if str matches the Java regex regexp, or false otherwise.

In [4]:
spark.createDataFrame(
    [("1a 2b 14m", r"(\d+)")], ["str", "regexp"]
).select(regexp_like('str', lit(r'(\d+)'))).show()

+-----------------------+
|REGEXP_LIKE(str, (\d+))|
+-----------------------+
|                   true|
+-----------------------+

In [5]:
spark.createDataFrame(
    [("1a 2b 14m", r"(\d+)")], ["str", "regexp"]
).select(regexp_like('str', lit(r'\d{2}b'))).show()

+------------------------+
|REGEXP_LIKE(str, \d{2}b)|
+------------------------+
|                   false|
+------------------------+

In [8]:
spark.createDataFrame(
    [("1a 2b 14m", r"(\d+)")], ["str", "regexp"]
).select(regexp_like('str', col("regexp"))).show()

+------------------------+
|REGEXP_LIKE(str, regexp)|
+------------------------+
|                    true|
+------------------------+

#### pyspark.sql.functions.regexp_count(str: ColumnOrName, regexp: ColumnOrName) → pyspark.sql.column.Column
Returns a count of the number of times that the Java regex pattern regexp is matched in the string str.

In [9]:
df = spark.createDataFrame([("1a 2b 14m", r"\d+")], ["str", "regexp"])
df.select(regexp_count('str', lit(r'\d+')).alias('d')).collect()

[Row(d=3)]

In [10]:
df.select(regexp_count('str', lit(r'mmm')).alias('d')).collect()

[Row(d=0)]

In [11]:
df.select(regexp_count("str", col("regexp")).alias('d')).collect()

[Row(d=3)]

#### pyspark.sql.functions.regexp_extract(str: ColumnOrName, pattern: str, idx: int) → pyspark.sql.column.Column
Extract a specific group matched by the Java regex regexp, from the specified string column. If the regex did not match, or the specified group did not match, an empty string is returned.

In [12]:
df = spark.createDataFrame([('100-200',)], ['str'])
df.select(regexp_extract('str', r'(\d+)-(\d+)', 1).alias('d')).collect()

[Row(d='100')]

In [13]:
df = spark.createDataFrame([('foo',)], ['str'])
df.select(regexp_extract('str', r'(\d+)', 1).alias('d')).collect()

[Row(d='')]

In [14]:
df = spark.createDataFrame([('aaaac',)], ['str'])
df.select(regexp_extract('str', '(a+)(b)?(c)', 2).alias('d')).collect()

[Row(d='')]

#### pyspark.sql.functions.regexp_extract_all(str: ColumnOrName, regexp: ColumnOrName, idx: Union[int, pyspark.sql.column.Column, None] = None) → pyspark.sql.column.Column
Extract all strings in the str that match the Java regex regexp and corresponding to the regex group index.

In [15]:
df = spark.createDataFrame([("100-200, 300-400", r"(\d+)-(\d+)")], ["str", "regexp"])
df.select(regexp_extract_all('str', lit(r'(\d+)-(\d+)')).alias('d')).collect()

[Row(d=['100', '300'])]

In [16]:
df.select(regexp_extract_all('str', lit(r'(\d+)-(\d+)'), 1).alias('d')).collect()

[Row(d=['100', '300'])]

In [17]:
df.select(regexp_extract_all('str', lit(r'(\d+)-(\d+)'), 2).alias('d')).collect()

[Row(d=['200', '400'])]

In [18]:
df.select(regexp_extract_all('str', col("regexp")).alias('d')).collect()

[Row(d=['100', '300'])]

#### pyspark.sql.functions.regexp_replace(string: ColumnOrName, pattern: Union[str, pyspark.sql.column.Column], replacement: Union[str, pyspark.sql.column.Column]) → pyspark.sql.column.Column
Replace all substrings of the specified string value that match regexp with replacement.

In [19]:
df = spark.createDataFrame([("100-200", r"(\d+)", "--")], ["str", "pattern", "replacement"])
df.select(regexp_replace('str', r'(\d+)', '--').alias('d')).collect()

[Row(d='-----')]

In [20]:
df.select(regexp_replace("str", col("pattern"), col("replacement")).alias('d')).collect()

[Row(d='-----')]

#### pyspark.sql.functions.regexp_substr(str: ColumnOrName, regexp: ColumnOrName) → pyspark.sql.column.Column
Returns the substring that matches the Java regex regexp within the string str. If the regular expression is not found, the result is null.

In [21]:
df = spark.createDataFrame([("1a 2b 14m", r"\d+")], ["str", "regexp"])
df.select(regexp_substr('str', lit(r'\d+')).alias('d')).collect()

[Row(d='1')]

In [22]:
df.select(regexp_substr('str', lit(r'mmm')).alias('d')).collect()

[Row(d=None)]

In [23]:
df.select(regexp_substr("str", col("regexp")).alias('d')).collect()

[Row(d='1')]

#### pyspark.sql.functions.regexp_instr(str: ColumnOrName, regexp: ColumnOrName, idx: Union[int, pyspark.sql.column.Column, None] = None) → pyspark.sql.column.Column
Extract all strings in the str that match the Java regex regexp and corresponding to the regex group index.

In [24]:
df = spark.createDataFrame([("1a 2b 14m", r"\d+(a|b|m)")], ["str", "regexp"])
df.select(regexp_instr('str', lit(r'\d+(a|b|m)')).alias('d')).collect()

[Row(d=1)]

In [25]:
df.select(regexp_instr('str', lit(r'\d+(a|b|m)'), 1).alias('d')).collect()

[Row(d=1)]

In [26]:
df.select(regexp_instr('str', lit(r'\d+(a|b|m)'), 2).alias('d')).collect()

[Row(d=1)]

In [27]:
df.select(regexp_instr('str', col("regexp")).alias('d')).collect()

[Row(d=1)]

#### pyspark.sql.functions.replace(src: ColumnOrName, search: ColumnOrName, replace: Optional[ColumnOrName] = None) → pyspark.sql.column.Column
Replaces all occurrences of search with replace.

In [28]:
df = spark.createDataFrame([("ABCabc", "abc", "DEF",)], ["a", "b", "c"])
df.select(replace(df.a, df.b, df.c).alias('r')).collect()

[Row(r='ABCDEF')]

In [29]:
df.select(replace(df.a, df.b).alias('r')).collect()

[Row(r='ABC')]

#### pyspark.sql.functions.right(str: ColumnOrName, len: ColumnOrName) → pyspark.sql.column.Column¶
    Returns the rightmost len`(`len can be string type) characters from the string str, if len is less or equal than 0 the result is an empty string.

In [30]:
df = spark.createDataFrame([("Spark SQL", 3,)], ['a', 'b'])
df.select(right(df.a, df.b).alias('r')).collect()

[Row(r='SQL')]

#### pyspark.sql.functions.ucase(str: ColumnOrName) → pyspark.sql.column.Column
Returns str with all characters changed to uppercase.

In [32]:
spark.range(1).select(ucase(lit("Spark"))).show()

+------------+
|ucase(Spark)|
+------------+
|       SPARK|
+------------+

#### pyspark.sql.functions.unbase64(col: ColumnOrName) → pyspark.sql.column.Column
Decodes a BASE64 encoded string column and returns it as a binary column.

In [33]:
df = spark.createDataFrame(["U3Bhcms=",
                            "UHlTcGFyaw==",
                            "UGFuZGFzIEFQSQ=="], "STRING")
df.select(unbase64("value")).show()

+--------------------+
|     unbase64(value)|
+--------------------+
|    [53 70 61 72 6B]|
|[50 79 53 70 61 7...|
|[50 61 6E 64 61 7...|
+--------------------+

#### pyspark.sql.functions.rpad(col: ColumnOrName, len: int, pad: str) → pyspark.sql.column.Column
Right-pad the string column to width len with pad.

In [34]:
df = spark.createDataFrame([('abcd',)], ['s',])
df.select(rpad(df.s, 6, '#').alias('s')).collect()

[Row(s='abcd##')]

#### pyspark.sql.functions.repeat(col: ColumnOrName, n: int) → pyspark.sql.column.Column
Repeats a string column n times, and returns it as a new string column.

In [35]:
df = spark.createDataFrame([('ab',)], ['s',])
df.select(repeat(df.s, 3).alias('s')).collect()

[Row(s='ababab')]

#### pyspark.sql.functions.rtrim(col: ColumnOrName) → pyspark.sql.column.Column
Trim the spaces from right end for the specified string value.

In [36]:
df = spark.createDataFrame(["   Spark", "Spark  ", " Spark"], "STRING")
df.select(rtrim("value").alias("r")).withColumn("length", length("r")).show()

+--------+------+
|       r|length|
+--------+------+
|   Spark|     8|
|   Spark|     5|
|   Spark|     6|
+--------+------+

#### pyspark.sql.functions.soundex(col: ColumnOrName) → pyspark.sql.column.Column
Returns the SoundEx encoding for a string

In [37]:
df = spark.createDataFrame([("Peters",),("Uhrbach",)], ['name'])
df.select(soundex(df.name).alias("soundex")).collect()

[Row(soundex='P362'), Row(soundex='U612')]

#### pyspark.sql.functions.split(str: ColumnOrName, pattern: str, limit: int = - 1) → pyspark.sql.column.Column
Splits str around matches of the given pattern.

Parameters:
- str: Column or str | 
a string expression to split
- pattern: str | 
a string representing a regular expression. The regex string should be a Java regular expression.
- limit: int, optional | 
an integer which controls the number of times pattern is applied.
    * limit > 0: The resulting array’s length will not be more than limit, and the
resulting array’s last entry will contain all input beyond the last matched pattern.
    * limit <= 0: pattern will be applied as many times as possible, and the resulting
array can be of any size.

Returns – Column | 
array of separated strings.

In [38]:
df = spark.createDataFrame([('oneAtwoBthreeC',)], ['s',])
df.select(split(df.s, '[ABC]', 2).alias('s')).collect()

[Row(s=['one', 'twoBthreeC'])]

In [39]:
df.select(split(df.s, '[ABC]', -1).alias('s')).collect()

[Row(s=['one', 'two', 'three', ''])]

#### pyspark.sql.functions.split_part(src: ColumnOrName, delimiter: ColumnOrName, partNum: ColumnOrName) → pyspark.sql.column.Column
Splits str by delimiter and return requested part of the split (1-based). If any input is null, returns null. if partNum is out of range of split parts, returns empty string. If partNum is 0, throws an error. If partNum is negative, the parts are counted backward from the end of the string. If the delimiter is an empty string, the str is not split.

In [40]:
df = spark.createDataFrame([("11.12.13", ".", 3,)], ["a", "b", "c"])
df.select(split_part(df.a, df.b, df.c).alias('r')).collect()

[Row(r='13')]

#### pyspark.sql.functions.startswith(str: ColumnOrName, prefix: ColumnOrName) → pyspark.sql.column.Column
Returns a boolean. The value is True if str starts with prefix. Returns NULL if either input expression is NULL. Otherwise, returns False. Both str or prefix must be of STRING or BINARY type.

In [41]:
df = spark.createDataFrame([("Spark SQL", "Spark",)], ["a", "b"])
df.select(startswith(df.a, df.b).alias('r')).collect()

[Row(r=True)]

In [42]:
df = spark.createDataFrame([("414243", "4142",)], ["e", "f"])
df = df.select(to_binary("e").alias("e"), to_binary("f").alias("f"))
df.printSchema()

root
 |-- e: binary (nullable = true)
 |-- f: binary (nullable = true)

In [43]:
df.select(startswith("e", "f"), startswith("f", "e")).show()

+----------------+----------------+
|startswith(e, f)|startswith(f, e)|
+----------------+----------------+
|            true|           false|
+----------------+----------------+

#### pyspark.sql.functions.substr(str: ColumnOrName, pos: ColumnOrName, len: Optional[ColumnOrName] = None) → pyspark.sql.column.Column¶
Returns the substring of str that starts at pos and is of length len, or the slice of byte array that starts at pos and is of length len.

In [44]:
spark.createDataFrame(
    [("Spark SQL", 5, 1,)], ["a", "b", "c"]
).select(substr("a", "b", "c")).show()

+---------------+
|substr(a, b, c)|
+---------------+
|              k|
+---------------+

In [45]:
spark.createDataFrame(
    [("Spark SQL", 5, 1,)], ["a", "b", "c"]
).select(substr("a", "b")).show()

+------------------------+
|substr(a, b, 2147483647)|
+------------------------+
|                   k SQL|
+------------------------+

#### pyspark.sql.functions.substring(str: ColumnOrName, pos: int, len: int) → pyspark.sql.column.Column
Substring starts at pos and is of length len when str is String type or returns the slice of byte array that starts at pos in byte and is of length len when str is Binary type.

##### Notes

The position is not zero based, but 1 based index.

In [46]:
df = spark.createDataFrame([('abcd',)], ['s',])
df.select(substring(df.s, 1, 2).alias('s')).collect()

[Row(s='ab')]

#### pyspark.sql.functions.substring_index(str: ColumnOrName, delim: str, count: int) → pyspark.sql.column.Column
Returns the substring from string str before count occurrences of the delimiter delim. If count is positive, everything the left of the final delimiter (counting from left) is returned. If count is negative, every to the right of the final delimiter (counting from the right) is returned. substring_index performs a case-sensitive match when searching for delim.

In [47]:
df = spark.createDataFrame([('a.b.c.d',)], ['s'])
df.select(substring_index(df.s, '.', 2).alias('s')).collect()

[Row(s='a.b')]

In [48]:
df.select(substring_index(df.s, '.', -3).alias('s')).collect()

[Row(s='b.c.d')]

#### pyspark.sql.functions.overlay(src: ColumnOrName, replace: ColumnOrName, pos: Union[ColumnOrName, int], len: Union[ColumnOrName, int] = - 1) → pyspark.sql.column.Column
Overlay the specified portion of src with replace, starting from byte position pos of src and proceeding for len bytes.

Parameters:
- src: Column or str | 
column name or column containing the string that will be replaced
- replace: Column or str | 
column name or column containing the substitution string
- pos: Column or str or int | 
column name, column, or int containing the starting position in src
- len: Column or str or int, optional | 
column name, column, or int containing the number of bytes to replace in src string by ‘replace’ defaults to -1, which represents the length of the ‘replace’ string

Returns – Column | 
string with replaced values.

In [49]:
df = spark.createDataFrame([("SPARK_SQL", "CORE")], ("x", "y"))
df.select(overlay("x", "y", 7).alias("overlayed")).collect()

[Row(overlayed='SPARK_CORE')]

In [50]:
df.select(overlay("x", "y", 7, 0).alias("overlayed")).collect()

[Row(overlayed='SPARK_CORESQL')]

In [51]:
df.select(overlay("x", "y", 7, 2).alias("overlayed")).collect()

[Row(overlayed='SPARK_COREL')]

#### pyspark.sql.functions.sentences(string: ColumnOrName, language: Optional[ColumnOrName] = None, country: Optional[ColumnOrName] = None) → pyspark.sql.column.Column
Splits a string into arrays of sentences, where each sentence is an array of words. The ‘language’ and ‘country’ arguments are optional, and if omitted, the default locale is used.

In [53]:
df = spark.createDataFrame([["This is an example sentence."]], ["string"])
df.select(sentences(df.string, lit("en"), lit("US"))).show(truncate=False)

+-----------------------------------+
|sentences(string, en, US)          |
+-----------------------------------+
|[[This, is, an, example, sentence]]|
+-----------------------------------+

In [54]:
df = spark.createDataFrame([["Hello world. How are you?"]], ["s"])
df.select(sentences("s")).show(truncate=False)

+---------------------------------+
|sentences(s, , )                 |
+---------------------------------+
|[[Hello, world], [How, are, you]]|
+---------------------------------+

#### pyspark.sql.functions.to_binary(col: ColumnOrName, format: Optional[ColumnOrName] = None) → pyspark.sql.column.Column
Converts the input col to a binary value based on the supplied format. The format can be a case-insensitive string literal of “hex”, “utf-8”, “utf8”, or “base64”. By default, the binary format for conversion is “hex” if format is omitted. The function returns NULL if at least one of the input parameters is NULL.

In [55]:
df = spark.createDataFrame([("abc",)], ["e"])
df.select(to_binary(df.e, lit("utf-8")).alias('r')).collect()

[Row(r=bytearray(b'abc'))]

In [56]:
df = spark.createDataFrame([("414243",)], ["e"])
df.select(to_binary(df.e).alias('r')).collect()

[Row(r=bytearray(b'ABC'))]

#### pyspark.sql.functions.to_char(col: ColumnOrName, format: ColumnOrName) → pyspark.sql.column.Column¶
Convert col to a string based on the format.

Throws an exception if the conversion fails. The format can consist of the following characters, case insensitive: ‘0’ or ‘9’: Specifies an expected digit between 0 and 9. A sequence of 0 or 9 in the format string matches a sequence of digits in the input value, generating a result string of the same length as the corresponding sequence in the format string. The result string is left-padded with zeros if the 0/9 sequence comprises more digits than the matching part of the decimal value, starts with 0, and is before the decimal point. Otherwise, it is padded with spaces. ‘.’ or ‘D’: Specifies the position of the decimal point (optional, only allowed once). ‘,’ or ‘G’: Specifies the position of the grouping (thousands) separator (,). There must be a 0 or 9 to the left and right of each grouping separator. ‘′:𝑆𝑝𝑒𝑐𝑖𝑓𝑖𝑒𝑠𝑡ℎ𝑒𝑙𝑜𝑐𝑎𝑡𝑖𝑜𝑛𝑜𝑓𝑡ℎ𝑒
 currency sign. This character may only be specified once. ‘S’ or ‘MI’: Specifies the position of a ‘-‘ or ‘+’ sign (optional, only allowed once at the beginning or end of the format string). Note that ‘S’ prints ‘+’ for positive values but ‘MI’ prints a space. ‘PR’: Only allowed at the end of the format string; specifies that the result string will be wrapped by angle brackets if the input value is negative.

In [57]:
df = spark.createDataFrame([(78.12,)], ["e"])
df.select(to_char(df.e, lit("$99.99")).alias('r')).collect()

[Row(r='$78.12')]

#### pyspark.sql.functions.to_number(col: ColumnOrName, format: ColumnOrName) → pyspark.sql.column.Column¶
Convert string ‘col’ to a number based on the string format ‘format’.

Throws an exception if the conversion fails. The format can consist of the following characters, case insensitive: ‘0’ or ‘9’: Specifies an expected digit between 0 and 9. A sequence of 0 or 9 in the format string matches a sequence of digits in the input string. If the 0/9 sequence starts with 0 and is before the decimal point, it can only match a digit sequence of the same size. Otherwise, if the sequence starts with 9 or is after the decimal point, it can match a digit sequence that has the same or smaller size. ‘.’ or ‘D’: Specifies the position of the decimal point (optional, only allowed once). ‘,’ or ‘G’: Specifies the position of the grouping (thousands) separator (,). There must be a 0 or 9 to the left and right of each grouping separator. ‘col’ must match the grouping separator relevant for the size of the number. ‘′:𝑆𝑝𝑒𝑐𝑖𝑓𝑖𝑒𝑠𝑡ℎ𝑒𝑙𝑜𝑐𝑎𝑡𝑖𝑜𝑛𝑜𝑓𝑡ℎ𝑒
 currency sign. This character may only be specified once. ‘S’ or ‘MI’: Specifies the position of a ‘-‘ or ‘+’ sign (optional, only allowed once at the beginning or end of the format string). Note that ‘S’ allows ‘-‘ but ‘MI’ does not. ‘PR’: Only allowed at the end of the format string; specifies that ‘col’ indicates a negative number with wrapping angled brackets.

In [58]:
df = spark.createDataFrame([("$78.12",)], ["e"])
df.select(to_number(df.e, lit("$99.99")).alias('r')).collect()

[Row(r=Decimal('78.12'))]

#### pyspark.sql.functions.to_varchar(col: ColumnOrName, format: ColumnOrName) → pyspark.sql.column.Column
Convert col to a string based on the format.

Throws an exception if the conversion fails. The format can consist of the following characters, case insensitive: ‘0’ or ‘9’: Specifies an expected digit between 0 and 9. A sequence of 0 or 9 in the format string matches a sequence of digits in the input value, generating a result string of the same length as the corresponding sequence in the format string. The result string is left-padded with zeros if the 0/9 sequence comprises more digits than the matching part of the decimal value, starts with 0, and is before the decimal point. Otherwise, it is padded with spaces. ‘.’ or ‘D’: Specifies the position of the decimal point (optional, only allowed once). ‘,’ or ‘G’: Specifies the position of the grouping (thousands) separator (,). There must be a 0 or 9 to the left and right of each grouping separator. ‘′:𝑆𝑝𝑒𝑐𝑖𝑓𝑖𝑒𝑠𝑡ℎ𝑒𝑙𝑜𝑐𝑎𝑡𝑖𝑜𝑛𝑜𝑓𝑡ℎ𝑒
 currency sign. This character may only be specified once. ‘S’ or ‘MI’: Specifies the position of a ‘-‘ or ‘+’ sign (optional, only allowed once at the beginning or end of the format string). Note that ‘S’ prints ‘+’ for positive values but ‘MI’ prints a space. ‘PR’: Only allowed at the end of the format string; specifies that the result string will be wrapped by angle brackets if the input value is negative.

In [59]:
df = spark.createDataFrame([(78.12,)], ["e"])
df.select(to_varchar(df.e, lit("$99.99")).alias('r')).collect()

[Row(r='$78.12')]

#### pyspark.sql.functions.translate(srcCol: ColumnOrName, matching: str, replace: str) → pyspark.sql.column.Column
A function translate any character in the srcCol by a character in matching. The characters in replace is corresponding to the characters in matching. Translation will happen whenever any character in the string is matching with the character in the matching.

In [60]:
spark.createDataFrame([('translate',)], ['a']) \
     .select(translate('a', "rnlt", "123") \
     .alias('r')).collect()

[Row(r='1a2s3ae')]

#### pyspark.sql.functions.trim(col: ColumnOrName) → pyspark.sql.column.Column
Trim the spaces from both ends for the specified string column.

In [61]:
df = spark.createDataFrame(["   Spark", "Spark  ", " Spark"], "STRING")
df.select(trim("value").alias("r")).withColumn("length", length("r")).show()

+-----+------+
|    r|length|
+-----+------+
|Spark|     5|
|Spark|     5|
|Spark|     5|
+-----+------+

#### pyspark.sql.functions.upper(col: ColumnOrName) → pyspark.sql.column.Column
Converts a string expression to upper case.

In [62]:
df = spark.createDataFrame(["Spark", "PySpark", "Pandas API"], "STRING")
df.select(upper("value")).show()

+------------+
|upper(value)|
+------------+
|       SPARK|
|     PYSPARK|
|  PANDAS API|
+------------+

In [64]:
tour.limit(10).select("Player name", upper("Player name")).show()

+---------------+------------------+
|    Player name|upper(Player name)|
+---------------+------------------+
|Robert Garrigus|   ROBERT GARRIGUS|
|   Bubba Watson|      BUBBA WATSON|
| Dustin Johnson|    DUSTIN JOHNSON|
|Brett Wetterich|   BRETT WETTERICH|
|    J.B. Holmes|       J.B. HOLMES|
|      John Daly|         JOHN DALY|
|  Graham DeLaet|     GRAHAM DELAET|
|  Angel Cabrera|     ANGEL CABRERA|
| Charles Warren|    CHARLES WARREN|
|    D.J. Trahan|       D.J. TRAHAN|
+---------------+------------------+

#### pyspark.sql.functions.url_decode(str: ColumnOrName) → pyspark.sql.column.Column
Decodes a str in ‘application/x-www-form-urlencoded’ format using a specific encoding scheme.

In [65]:
df = spark.createDataFrame([("https%3A%2F%2Fspark.apache.org",)], ["a"])
df.select(url_decode(df.a).alias('r')).collect()

[Row(r='https://spark.apache.org')]

#### pyspark.sql.functions.url_encode(str: ColumnOrName) → pyspark.sql.column.Column
Translates a string into ‘application/x-www-form-urlencoded’ format using a specific encoding scheme.

In [66]:
df = spark.createDataFrame([("https://spark.apache.org",)], ["a"])
df.select(url_encode(df.a).alias('r')).collect()

[Row(r='https%3A%2F%2Fspark.apache.org')]

## [Bitwise Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#bitwise-functions)

#### pyspark.sql.functions.bit_count(col: ColumnOrName) → pyspark.sql.column.Column
Returns the number of bits that are set in the argument expr as an unsigned 64-bit integer, or NULL if the argument is NULL.

In [177]:
df = spark.createDataFrame([[1],[1],[2]], ["c"])
df.select(bit_count("c")).show()
# Returns Column | the number of bits that are set in the argument expr as
# an unsigned 64-bit integer, or NULL if the argument is NULL.

+------------+
|bit_count(c)|
+------------+
|           1|
|           1|
|           1|
+------------+

#### pyspark.sql.functions.bit_get(col: ColumnOrName, pos: ColumnOrName) → pyspark.sql.column.Column
Returns the value of the bit (0 or 1) at the specified position. The positions are numbered from right to left, starting at zero. The position argument cannot be negative.

In [180]:
df = spark.createDataFrame([[1],[1],[2],[3],[4],[5],[6],], ["c"])
df.select(bit_get("c", lit(2)).alias("2"), bit_get("c", lit(1)).alias("1"), bit_get("c", lit(0)).alias("0")).show()

+---+---+---+
|  2|  1|  0|
+---+---+---+
|  0|  0|  1|
|  0|  0|  1|
|  0|  1|  0|
|  0|  1|  1|
|  1|  0|  0|
|  1|  0|  1|
|  1|  1|  0|
+---+---+---+

#### pyspark.sql.functions.getbit(col: ColumnOrName, pos: ColumnOrName) → pyspark.sql.column.Column
Returns the value of the bit (0 or 1) at the specified position. The positions are numbered from right to left, starting at zero. The position argument cannot be negative.

In [181]:
import pyspark.sql.functions as sf
spark.createDataFrame(
    [[1], [1], [2]], ["c"]
).select(sf.getbit("c", sf.lit(1))).show()

+------------+
|getbit(c, 1)|
+------------+
|           0|
|           0|
|           1|
+------------+

## [Call Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#call-functions)

#### pyspark.sql.functions.call_function(funcName: str, *cols: ColumnOrName) → pyspark.sql.column.Column
Call a SQL function.

`print(call_function.__doc__)`

    Call a SQL function.

    .. versionadded:: 3.5.0

    Parameters
    ----------
    funcName : str
        function name that follows the SQL identifier syntax (can be quoted, can be qualified)
    cols : :class:`~pyspark.sql.Column` or str
        column names or :class:`~pyspark.sql.Column`\s to be used in the function

    Returns
    -------
    :class:`~pyspark.sql.Column`
        result of executed function.

    Examples
    --------
    >>> from pyspark.sql.functions import call_udf, col
    >>> from pyspark.sql.types import IntegerType, StringType
    >>> df = spark.createDataFrame([(1, "a"),(2, "b"), (3, "c")],["id", "name"])
    >>> _ = spark.udf.register("intX2", lambda i: i * 2, IntegerType())
    >>> df.select(call_function("intX2", "id")).show()
    +---------+
    |intX2(id)|
    +---------+
    |        2|
    |        4|
    |        6|
    +---------+
    >>> _ = spark.udf.register("strX2", lambda s: s * 2, StringType())
    >>> df.select(call_function("strX2", col("name"))).show()
    +-----------+
    |strX2(name)|
    +-----------+
    |         aa|
    |         bb|
    |         cc|
    +-----------+
    >>> df.select(call_function("avg", col("id"))).show()
    +-------+
    |avg(id)|
    +-------+
    |    2.0|
    +-------+
    >>> _ = spark.sql("CREATE FUNCTION custom_avg AS 'test.org.apache.spark.sql.MyDoubleAvg'")
    ... # doctest: +SKIP
    >>> df.select(call_function("custom_avg", col("id"))).show()
    ... # doctest: +SKIP
    +------------------------------------+
    |spark_catalog.default.custom_avg(id)|
    +------------------------------------+
    |                               102.0|
    +------------------------------------+
    >>> df.select(call_function("spark_catalog.default.custom_avg", col("id"))).show()
    ... # doctest: +SKIP
    +------------------------------------+
    |spark_catalog.default.custom_avg(id)|
    +------------------------------------+
    |                               102.0|
    +------------------------------------+

In [3]:
df = spark.createDataFrame([(1, "a"),(2, "b"), (3, "c")],["id", "name"])
_ = spark.udf.register("intX2", lambda i: i * 2, IntegerType())
df.select(call_function("intX2", "id")).show()

+---------+
|intX2(id)|
+---------+
|        2|
|        4|
|        6|
+---------+

In [4]:
_ = spark.udf.register("strX2", lambda s: s * 2, StringType())
df.select(call_function("strX2", col("name"))).show()

+-----------+
|strX2(name)|
+-----------+
|         aa|
|         bb|
|         cc|
+-----------+

In [5]:
df.select(call_function("avg", col("id"))).show()

+-------+
|avg(id)|
+-------+
|    2.0|
+-------+

In [6]:
# _ = spark.sql("CREATE FUNCTION custom_avg AS 'test.org.apache.spark.sql.MyDoubleAvg'")
# df.select(call_function("custom_avg", col("id"))).show()
# df.select(call_function("spark_catalog.default.custom_avg", col("id"))).show()

#### pyspark.sql.functions.call_udf(udfName: str, *cols: ColumnOrName) → pyspark.sql.column.Column
Call an user-defined function.

`print(call_udf.__doc__)`

    Call an user-defined function.

    .. versionadded:: 3.4.0

    Parameters
    ----------
    udfName : str
        name of the user defined function (UDF)
    cols : :class:`~pyspark.sql.Column` or str
        column names or :class:`~pyspark.sql.Column`\s to be used in the UDF

    Returns
    -------
    :class:`~pyspark.sql.Column`
        result of executed udf.

    Examples
    --------
    >>> from pyspark.sql.functions import call_udf, col
    >>> from pyspark.sql.types import IntegerType, StringType
    >>> df = spark.createDataFrame([(1, "a"),(2, "b"), (3, "c")],["id", "name"])
    >>> _ = spark.udf.register("intX2", lambda i: i * 2, IntegerType())
    >>> df.select(call_udf("intX2", "id")).show()
    +---------+
    |intX2(id)|
    +---------+
    |        2|
    |        4|
    |        6|
    +---------+
    >>> _ = spark.udf.register("strX2", lambda s: s * 2, StringType())
    >>> df.select(call_udf("strX2", col("name"))).show()
    +-----------+
    |strX2(name)|
    +-----------+
    |         aa|
    |         bb|
    |         cc|
    +-----------+

In [95]:
_ = spark.udf.register("intX1.5", lambda i: i * 1.5, IntegerType())
students.limit(10).select(call_udf("intX2", "math score")).show()

+-----------------+
|intX2(math score)|
+-----------------+
|              144|
|              138|
|              180|
|               94|
|              152|
|              142|
|              176|
|               80|
|              128|
|               76|
+-----------------+

In [101]:
_ = spark.udf.register("strX2", lambda s: s * 2, StringType())
tour.limit(5).select(call_udf("strX2", col("Player name"))).show(truncate=False)

23/10/22 16:03:15 WARN SimpleFunctionRegistry: The function strx2 replaced a previously registered function.

+------------------------------+
|strX2(Player name)            |
+------------------------------+
|Robert GarrigusRobert Garrigus|
|Bubba WatsonBubba Watson      |
|Dustin JohnsonDustin Johnson  |
|Brett WetterichBrett Wetterich|
|J.B. HolmesJ.B. Holmes        |
+------------------------------+

#### pyspark.sql.functions.pandas_udf(f=None, returnType=None, functionType=None)
Creates a pandas user defined function (a.k.a. vectorized user defined function).

Pandas UDFs are user defined functions that are executed by Spark using Arrow to transfer data and Pandas to work with the data, which allows vectorized operations. A Pandas UDF is defined using the pandas_udf as a decorator or to wrap the function, and no additional configuration is required. A Pandas UDF behaves as a regular PySpark function API in general.

Parameters:
- f: function, optional |
user-defined function. A python function if used as a standalone function
- return: Typepyspark.sql.types.DataType or str, optional | 
the return type of the user-defined function. The value can be either a pyspark.sql.types.DataType object or a DDL-formatted type string.
- function: Typeint, optional | 
an enum value in pyspark.sql.functions.PandasUDFType. Default: SCALAR. This parameter exists for compatibility. Using Python type hints is encouraged.

[why] Get same errors with all code snippets. Probably unmatching versions of libraries

In [125]:
"""
import pandas as pd

@pandas_udf(IntegerType())
def slen(s: pd.Series) -> pd.Series:
    return s.str.len()

df = tour.select("Player name")
df.withColumn("Name_Length", slen(df["Player name"])).show()
"""

'\nimport pandas as pd\n\n@pandas_udf(IntegerType())\ndef slen(s: pd.Series) -> pd.Series:\n    return s.str.len()\n\ndf = tour.select("Player name")\ndf.withColumn("Name_Length", slen(df["Player name"])).show()\n'

In [126]:
from pyspark.sql.functions import PandasUDFType
from pyspark.sql.types import IntegerType
@pandas_udf(IntegerType(), PandasUDFType.SCALAR)
def slen(s):
    return s.str.len()

In [127]:
@pandas_udf("col1 string, col2 long")
def func(s1: pd.Series, s2: pd.Series, s3: pd.DataFrame) -> pd.DataFrame:
    s3['col2'] = s1 + s2.str.len()
    return s3

# Create a Spark DataFrame that has three columns including a struct column.
df = spark.createDataFrame(
    [[1, "a string", ("a nested string",)]],
    "long_col long, string_col string, struct_col struct<col1:string>")
df.printSchema()

root
 |-- long_col: long (nullable = true)
 |-- string_col: string (nullable = true)
 |-- struct_col: struct (nullable = true)
 |    |-- col1: string (nullable = true)

In [128]:
df.select(func("long_col", "string_col", "struct_col")).printSchema()

root
 |-- func(long_col, string_col, struct_col): struct (nullable = true)
 |    |-- col1: string (nullable = true)
 |    |-- col2: long (nullable = true)

In [130]:
"""
@pandas_udf("string")
def to_upper(s: pd.Series) -> pd.Series:
    return s.str.upper()

df = spark.createDataFrame([("John Doe",)], ("name",))
df.select(to_upper("name")).show()
"""

'\n@pandas_udf("string")\ndef to_upper(s: pd.Series) -> pd.Series:\n    return s.str.upper()\n\ndf = spark.createDataFrame([("John Doe",)], ("name",))\ndf.select(to_upper("name")).show()\n'

In [132]:
"""
@pandas_udf("first string, last string")
def split_expand(s: pd.Series) -> pd.DataFrame:
    return s.str.split(expand=True)

df = spark.createDataFrame([("John Doe",)], ("name",))
df.select(split_expand("name")).show()
"""

'\n@pandas_udf("first string, last string")\ndef split_expand(s: pd.Series) -> pd.DataFrame:\n    return s.str.split(expand=True)\n\ndf = spark.createDataFrame([("John Doe",)], ("name",))\ndf.select(split_expand("name")).show()\n'

In [136]:
"""
from typing import Iterator

@pandas_udf("long")
def calculate(iterator: Iterator[pd.Series]) -> Iterator[pd.Series]:
    # Do some expensive initialization with a state
    state = very_expensive_initialization()
    for x in iterator:
        # Use that state for whole iterator.
        yield calculate_with_state(x, state)

df.select(calculate("value")).show()
"""

'\nfrom typing import Iterator\n\n@pandas_udf("long")\ndef calculate(iterator: Iterator[pd.Series]) -> Iterator[pd.Series]:\n    # Do some expensive initialization with a state\n    state = very_expensive_initialization()\n    for x in iterator:\n        # Use that state for whole iterator.\n        yield calculate_with_state(x, state)\n\ndf.select(calculate("value")).show()\n'

In [138]:
"""
from typing import Iterator
@pandas_udf("long")
def plus_one(iterator: Iterator[pd.Series]) -> Iterator[pd.Series]:
    for s in iterator:
        yield s + 1

df = spark.createDataFrame(pd.DataFrame([1, 2, 3], columns=["v"]))
df.select(plus_one(df.v)).show()
"""

'\nfrom typing import Iterator\n@pandas_udf("long")\ndef plus_one(iterator: Iterator[pd.Series]) -> Iterator[pd.Series]:\n    for s in iterator:\n        yield s + 1\n\ndf = spark.createDataFrame(pd.DataFrame([1, 2, 3], columns=["v"]))\ndf.select(plus_one(df.v)).show()\n'

In [140]:
"""
from typing import Iterator, Tuple
from pyspark.sql.functions import struct, col
@pandas_udf("long")
def multiply(iterator: Iterator[Tuple[pd.Series, pd.DataFrame]]) -> Iterator[pd.Series]:
    for s1, df in iterator:
        yield s1 * df.v

df = spark.createDataFrame(pd.DataFrame([1, 2, 3], columns=["v"]))
df.withColumn('output', multiply(col("v"), struct(col("v")))).show()
"""

'\nfrom typing import Iterator, Tuple\nfrom pyspark.sql.functions import struct, col\n@pandas_udf("long")\ndef multiply(iterator: Iterator[Tuple[pd.Series, pd.DataFrame]]) -> Iterator[pd.Series]:\n    for s1, df in iterator:\n        yield s1 * df.v\n\ndf = spark.createDataFrame(pd.DataFrame([1, 2, 3], columns=["v"]))\ndf.withColumn(\'output\', multiply(col("v"), struct(col("v")))).show()\n'

In [142]:
"""
@pandas_udf("double")
def mean_udf(v: pd.Series) -> float:
    return v.mean()

df = spark.createDataFrame([(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)], ("id", "v"))
df.groupby("id").agg(mean_udf(df['v'])).show()
"""

'\n@pandas_udf("double")\ndef mean_udf(v: pd.Series) -> float:\n    return v.mean()\n\ndf = spark.createDataFrame([(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)], ("id", "v"))\ndf.groupby("id").agg(mean_udf(df[\'v\'])).show()\n'

In [144]:
"""
from pyspark.sql import Window
@pandas_udf("double")
def mean_udf(v: pd.Series) -> float:
    return v.mean()

df = spark.createDataFrame(
    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)], ("id", "v"))
w = Window.partitionBy('id').orderBy('v').rowsBetween(-1, 0)
df.withColumn('mean_v', mean_udf("v").over(w)).show()
"""

'\nfrom pyspark.sql import Window\n@pandas_udf("double")\ndef mean_udf(v: pd.Series) -> float:\n    return v.mean()\n\ndf = spark.createDataFrame(\n    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)], ("id", "v"))\nw = Window.partitionBy(\'id\').orderBy(\'v\').rowsBetween(-1, 0)\ndf.withColumn(\'mean_v\', mean_udf("v").over(w)).show()\n'

In [146]:
print(pandas_udf.__doc__)

    Creates a pandas user defined function (a.k.a. vectorized user defined function).

    Pandas UDFs are user defined functions that are executed by Spark using Arrow to transfer
    data and Pandas to work with the data, which allows vectorized operations. A Pandas UDF
    is defined using the `pandas_udf` as a decorator or to wrap the function, and no
    additional configuration is required. A Pandas UDF behaves as a regular PySpark function
    API in general.

    .. versionadded:: 2.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    f : function, optional
        user-defined function. A python function if used as a standalone function
    returnType : :class:`pyspark.sql.types.DataType` or str, optional
        the return type of the user-defined function. The value can be either a
        :class:`pyspark.sql.types.DataType` object or a DDL-formatted type string.
    functionType : int, optional
        an enum value in :class:`pyspark.sql.functions.PandasUDFType`.
        Default: SCALAR. This parameter exists for compatibility.
        Using Python type hints is encouraged.

    Examples
    --------
    In order to use this API, customarily the below are imported:

    >>> import pandas as pd
    >>> from pyspark.sql.functions import pandas_udf

    From Spark 3.0 with Python 3.6+, `Python type hints <https://www.python.org/dev/peps/pep-0484>`_
    detect the function types as below:

    >>> @pandas_udf(IntegerType())
    ... def slen(s: pd.Series) -> pd.Series:
    ...     return s.str.len()

    Prior to Spark 3.0, the pandas UDF used `functionType` to decide the execution type as below:

    >>> from pyspark.sql.functions import PandasUDFType
    >>> from pyspark.sql.types import IntegerType
    >>> @pandas_udf(IntegerType(), PandasUDFType.SCALAR)
    ... def slen(s):
    ...     return s.str.len()

    It is preferred to specify type hints for the pandas UDF instead of specifying pandas UDF
    type via `functionType` which will be deprecated in the future releases.

    Note that the type hint should use `pandas.Series` in all cases but there is one variant
    that `pandas.DataFrame` should be used for its input or output type hint instead when the input
    or output column is of :class:`pyspark.sql.types.StructType`. The following example shows
    a Pandas UDF which takes long column, string column and struct column, and outputs a struct
    column. It requires the function to specify the type hints of `pandas.Series` and
    `pandas.DataFrame` as below:

    >>> @pandas_udf("col1 string, col2 long")
    >>> def func(s1: pd.Series, s2: pd.Series, s3: pd.DataFrame) -> pd.DataFrame:
    ...     s3['col2'] = s1 + s2.str.len()
    ...     return s3
    ...
    >>> # Create a Spark DataFrame that has three columns including a struct column.
    ... df = spark.createDataFrame(
    ...     [[1, "a string", ("a nested string",)]],
    ...     "long_col long, string_col string, struct_col struct<col1:string>")
    >>> df.printSchema()
    root
    |-- long_column: long (nullable = true)
    |-- string_column: string (nullable = true)
    |-- struct_column: struct (nullable = true)
    |    |-- col1: string (nullable = true)
    >>> df.select(func("long_col", "string_col", "struct_col")).printSchema()
    |-- func(long_col, string_col, struct_col): struct (nullable = true)
    |    |-- col1: string (nullable = true)
    |    |-- col2: long (nullable = true)

    In the following sections, it describes the combinations of the supported type hints. For
    simplicity, `pandas.DataFrame` variant is omitted.

    * Series to Series
        `pandas.Series`, ... -> `pandas.Series`

        The function takes one or more `pandas.Series` and outputs one `pandas.Series`.
        The output of the function should always be of the same length as the input.

        >>> @pandas_udf("string")
        ... def to_upper(s: pd.Series) -> pd.Series:
        ...     return s.str.upper()
        ...
        >>> df = spark.createDataFrame([("John Doe",)], ("name",))
        >>> df.select(to_upper("name")).show()
        +--------------+
        |to_upper(name)|
        +--------------+
        |      JOHN DOE|
        +--------------+

        >>> @pandas_udf("first string, last string")
        ... def split_expand(s: pd.Series) -> pd.DataFrame:
        ...     return s.str.split(expand=True)
        ...
        >>> df = spark.createDataFrame([("John Doe",)], ("name",))
        >>> df.select(split_expand("name")).show()
        +------------------+
        |split_expand(name)|
        +------------------+
        |       [John, Doe]|
        +------------------+

        .. note:: The length of the input is not that of the whole input column, but is the
            length of an internal batch used for each call to the function.

    * Iterator of Series to Iterator of Series
        `Iterator[pandas.Series]` -> `Iterator[pandas.Series]`

        The function takes an iterator of `pandas.Series` and outputs an iterator of
        `pandas.Series`. In this case, the created pandas UDF instance requires one input
        column when this is called as a PySpark column. The length of the entire output from
        the function should be the same length of the entire input; therefore, it can
        prefetch the data from the input iterator as long as the lengths are the same.

        It is also useful when the UDF execution
        requires initializing some states although internally it works identically as
        Series to Series case. The pseudocode below illustrates the example.

        .. highlight:: python
        .. code-block:: python

            @pandas_udf("long")
            def calculate(iterator: Iterator[pd.Series]) -> Iterator[pd.Series]:
                # Do some expensive initialization with a state
                state = very_expensive_initialization()
                for x in iterator:
                    # Use that state for whole iterator.
                    yield calculate_with_state(x, state)

            df.select(calculate("value")).show()

        >>> from typing import Iterator
        >>> @pandas_udf("long")
        ... def plus_one(iterator: Iterator[pd.Series]) -> Iterator[pd.Series]:
        ...     for s in iterator:
        ...         yield s + 1
        ...
        >>> df = spark.createDataFrame(pd.DataFrame([1, 2, 3], columns=["v"]))
        >>> df.select(plus_one(df.v)).show()
        +-----------+
        |plus_one(v)|
        +-----------+
        |          2|
        |          3|
        |          4|
        +-----------+

        .. note:: The length of each series is the length of a batch internally used.

    * Iterator of Multiple Series to Iterator of Series
        `Iterator[Tuple[pandas.Series, ...]]` -> `Iterator[pandas.Series]`

        The function takes an iterator of a tuple of multiple `pandas.Series` and outputs an
        iterator of `pandas.Series`. In this case, the created pandas UDF instance requires
        input columns as many as the series when this is called as a PySpark column.
        Otherwise, it has the same characteristics and restrictions as Iterator of Series
        to Iterator of Series case.

        >>> from typing import Iterator, Tuple
        >>> from pyspark.sql.functions import struct, col
        >>> @pandas_udf("long")
        ... def multiply(iterator: Iterator[Tuple[pd.Series, pd.DataFrame]]) -> Iterator[pd.Series]:
        ...     for s1, df in iterator:
        ...         yield s1 * df.v
        ...
        >>> df = spark.createDataFrame(pd.DataFrame([1, 2, 3], columns=["v"]))
        >>> df.withColumn('output', multiply(col("v"), struct(col("v")))).show()
        +---+------+
        |  v|output|
        +---+------+
        |  1|     1|
        |  2|     4|
        |  3|     9|
        +---+------+

        .. note:: The length of each series is the length of a batch internally used.

    * Series to Scalar
        `pandas.Series`, ... -> `Any`

        The function takes `pandas.Series` and returns a scalar value. The `returnType`
        should be a primitive data type, and the returned scalar can be either a python primitive
        type, e.g., int or float or a numpy data type, e.g., numpy.int64 or numpy.float64.
        `Any` should ideally be a specific scalar type accordingly.

        >>> @pandas_udf("double")
        ... def mean_udf(v: pd.Series) -> float:
        ...     return v.mean()
        ...
        >>> df = spark.createDataFrame(
        ...     [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)], ("id", "v"))
        >>> df.groupby("id").agg(mean_udf(df['v'])).show()
        +---+-----------+
        | id|mean_udf(v)|
        +---+-----------+
        |  1|        1.5|
        |  2|        6.0|
        +---+-----------+

        This UDF can also be used as window functions as below:

        >>> from pyspark.sql import Window
        >>> @pandas_udf("double")
        ... def mean_udf(v: pd.Series) -> float:
        ...     return v.mean()
        ...
        >>> df = spark.createDataFrame(
        ...     [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)], ("id", "v"))
        >>> w = Window.partitionBy('id').orderBy('v').rowsBetween(-1, 0)
        >>> df.withColumn('mean_v', mean_udf("v").over(w)).show()
        +---+----+------+
        | id|   v|mean_v|
        +---+----+------+
        |  1| 1.0|   1.0|
        |  1| 2.0|   1.5|
        |  2| 3.0|   3.0|
        |  2| 5.0|   4.0|
        |  2|10.0|   7.5|
        +---+----+------+

        .. note:: For performance reasons, the input series to window functions are not copied.
            Therefore, mutating the input series is not allowed and will cause incorrect results.
            For the same reason, users should also not rely on the index of the input series.

    Notes
    -----
    The user-defined functions do not support conditional expressions or short circuiting
    in boolean expressions and it ends up with being executed all internally. If the functions
    can fail on special rows, the workaround is to incorporate the condition into the functions.

    The user-defined functions do not take keyword arguments on the calling side.

    The data type of returned `pandas.Series` from the user-defined functions should be
    matched with defined `returnType` (see :meth:`types.to_arrow_type` and
    :meth:`types.from_arrow_type`). When there is mismatch between them, Spark might do
    conversion on returned data. The conversion is not guaranteed to be correct and results
    should be checked for accuracy by users.

    Currently,
    :class:`pyspark.sql.types.ArrayType` of :class:`pyspark.sql.types.TimestampType` and
    nested :class:`pyspark.sql.types.StructType`
    are currently not supported as output types.

    See Also
    --------
    pyspark.sql.GroupedData.agg
    pyspark.sql.DataFrame.mapInPandas
    pyspark.sql.GroupedData.applyInPandas
    pyspark.sql.PandasCogroupedOps.applyInPandas
    pyspark.sql.UDFRegistration.register

#### pyspark.sql.functions.udf(f: Union[Callable[[…], Any], DataTypeOrString, None] = None, returnType: DataTypeOrString = StringType(), *, useArrow: Optional[bool] = None) → Union[UserDefinedFunctionLike, Callable[[Callable[[…], Any]], UserDefinedFunctionLike]]
Creates a user defined function (UDF).

Parameters: 
- f: function |
python function if used as a standalone function
- return: Typepyspark.sql.types.DataType or str | 
the return type of the user-defined function. The value can be either a pyspark.sql.types.DataType object or a DDL-formatted type string.
- use: Arrowbool or None | 
whether to use Arrow to optimize the (de)serialization. When it is None, the Spark config “spark.sql.execution.pythonUDF.arrow.enabled” takes effect.

In [147]:
import random
random_udf = udf(lambda: int(random.random() * 100), IntegerType()).asNondeterministic()

In [149]:
students.limit(5).withColumn("Random int", random_udf()).show(5)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+----------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|Random int|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+----------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|         2|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|        69|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|        38|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|         3|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|        21|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+----------+

In [148]:
from pyspark.sql.types import IntegerType
slen = udf(lambda s: len(s), IntegerType())
@udf
def to_upper(s):
    if s is not None:
        return s.upper()

@udf(returnType=IntegerType())
def add_one(x):
    if x is not None:
        return x + 1

df = spark.createDataFrame([(1, "John Doe", 21)], ("id", "name", "age"))
df.select(slen("name").alias("slen(name)"), to_upper("name"), add_one("age")).show()

+----------+--------------+------------+
|slen(name)|to_upper(name)|add_one(age)|
+----------+--------------+------------+
|         8|      JOHN DOE|          22|
+----------+--------------+------------+

#### pyspark.sql.functions.udtf(cls: Optional[Type] = None, *, returnType: Union[pyspark.sql.types.StructType, str], useArrow: Optional[bool] = None) → Union[pyspark.sql.udtf.UserDefinedTableFunction, Callable[[Type], pyspark.sql.udtf.UserDefinedTableFunction]]
Creates a user defined table function (UDTF).

Parameters:
- cls: class | 
the Python user-defined table function handler class.
- return: Typepyspark.sql.types.StructType or str | 
the return type of the user-defined table function. The value can be either a pyspark.sql.types.StructType object or a DDL-formatted struct type string.
- use: Arrowbool or None, optional | 
whether to use Arrow to optimize the (de)serializations. When it’s set to None, the Spark config “spark.sql.execution.pythonUDTF.arrow.enabled” is used.

In [166]:
class PlusOne:
    def eval(self, a: int):
        yield a + 1,
plus_one = udtf(PlusOne, returnType="r: int").asDeterministic()

In [167]:
class TestUDTF:
    def eval(self, *args: Any):
        yield "hello", "world"

test_udtf = udtf(TestUDTF, returnType="c1: string, c2: string")
test_udtf().show()

+-----+-----+
|   c1|   c2|
+-----+-----+
|hello|world|
+-----+-----+

In [168]:
@udtf(returnType="c1: int, c2: int")
class PlusOne:
    def eval(self, x: int):
        yield x, x + 1

from pyspark.sql.functions import lit
PlusOne(lit(1)).show()

+---+---+
| c1| c2|
+---+---+
|  1|  2|
+---+---+

In [173]:
@udtf(returnType="c1: int, c2: int", useArrow=True)
class ArrowPlusOne:
    def eval(self, x: int):
        yield x, x + 1

# eval_type = read_int(infile) Error
# ArrowPlusOne(lit(1)).show()

#### pyspark.sql.functions.unwrap_udt(col: ColumnOrName) → pyspark.sql.column.Column
Unwrap UDT data type column into its underlying type.

In [165]:
"""
class MyUDT:
    def __init__(self, value):
        self.value = value

data = [(MyUDT(42),)]
schema = StructType([StructField("my_udt", MyUDTType(), True)])
df = spark.createDataFrame(data, schema)
"""
True

True

In [ ]:
"""
result_df = df.select(unwrap_udt(col("my_udt")).alias("my_udt_value"))
result_df.show()
"""

In [164]:
"""
from pyspark.sql.functions import col
from pyspark.sql.types import UserDefinedType

# Визначаємо користувацький тип даних MyUDT
class MyUDT(UserDefinedType):

    def __init__(self, value = None):
        self.value = value
        
    def simpleString(self):
        return "MyUDT"

    def serialize(self, obj):
        return str(obj).encode('utf-8')

    def deserialize(self, datum):
        return MyUDT(int(datum.decode('utf-8')))

# Оголошуємо функцію unwrap_udt з використанням користувацького типу MyUDT
@pandas_udf(MyUDT())
def unwrap_udt(s: pd.Series) -> pd.Series:
    return s

# Створюємо DataFrame
data = [(MyUDT(42),), (MyUDT(56),)]
df = spark.createDataFrame(data, ["my_udt"])

# Використовуємо unwrap_udt для розгортання користувацького типу MyUDT
result_df = df.select(unwrap_udt(col("my_udt")).alias("my_udt_value"))

# Виводимо результат
result_df.show()
"""
True

True

## [Misc Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#misc-functions)

#### pyspark.sql.functions.aes_decrypt(input: ColumnOrName, key: ColumnOrName, mode: Optional[ColumnOrName] = None, padding: Optional[ColumnOrName] = None, aad: Optional[ColumnOrName] = None) → pyspark.sql.column.Column

##### The Advanced Encryption Standard (AES) 
Returns a decrypted value of input using AES in mode with padding. Key lengths of 16, 24 and 32 bits are supported. Supported combinations of (mode, padding) are (‘ECB’, ‘PKCS’), (‘GCM’, ‘NONE’) and (‘CBC’, ‘PKCS’). Optional additional authenticated data (AAD) is only supported for GCM. If provided for encryption, the identical AAD value must be provided for decryption. The default mode is GCM.

Parameters:
- input: Column or str | The binary value to decrypt.
- key: Column or str | The passphrase to use to decrypt the data.
- mode: Column or str, optional | Specifies which block cipher mode should be used to decrypt messages. Valid modes: ECB, GCM, CBC.
- padding: Column or str, optional | Specifies how to pad messages whose length is not a multiple of the block size. Valid values: PKCS, NONE, DEFAULT. The DEFAULT padding means PKCS for ECB, NONE for GCM and PKCS for CBC.
- aad: Column or str, optional | Optional additional authenticated data. Only supported for GCM mode. This can be any free-form input and must be provided for both encryption and decryption.

In [7]:
df = spark.createDataFrame([(
    "AAAAAAAAAAAAAAAAQiYi+sTLm7KD9UcZ2nlRdYDe/PX4",
    "abcdefghijklmnop12345678ABCDEFGH", "GCM", "DEFAULT",
    "This is an AAD mixed into the input",)],
    ["input", "key", "mode", "padding", "aad"]
)
df.select(aes_decrypt(
    unbase64(df.input), df.key, df.mode, df.padding, df.aad).alias('r')
).collect()

[Row(r=bytearray(b'Spark'))]

In [8]:
df = spark.createDataFrame([(
    "AAAAAAAAAAAAAAAAAAAAAPSd4mWyMZ5mhvjiAPQJnfg=",
    "abcdefghijklmnop12345678ABCDEFGH", "CBC", "DEFAULT",)],
    ["input", "key", "mode", "padding"]
)
df.select(aes_decrypt(
    unbase64(df.input), df.key, df.mode, df.padding).alias('r')
).collect()

[Row(r=bytearray(b'Spark'))]

In [9]:
df.select(aes_decrypt(unbase64(df.input), df.key, df.mode).alias('r')).collect()

[Row(r=bytearray(b'Spark'))]

In [10]:
df = spark.createDataFrame([(
    "83F16B2AA704794132802D248E6BFD4E380078182D1544813898AC97E709B28A94",
    "0000111122223333",)],
    ["input", "key"]
)
df.select(aes_decrypt(unhex(df.input), df.key).alias('r')).collect()

[Row(r=bytearray(b'Spark'))]

#### pyspark.sql.functions.aes_encrypt(input: ColumnOrName, key: ColumnOrName, mode: Optional[ColumnOrName] = None, padding: Optional[ColumnOrName] = None, iv: Optional[ColumnOrName] = None, aad: Optional[ColumnOrName] = None) → pyspark.sql.column.Column

##### The Advanced Encryption Standard (AES) 
Returns an encrypted value of input using AES in given mode with the specified padding. Key lengths of 16, 24 and 32 bits are supported. Supported combinations of (mode, padding) are (‘ECB’, ‘PKCS’), (‘GCM’, ‘NONE’) and (‘CBC’, ‘PKCS’). Optional initialization vectors (IVs) are only supported for CBC and GCM modes. These must be 16 bytes for CBC and 12 bytes for GCM. If not provided, a random vector will be generated and prepended to the output. Optional additional authenticated data (AAD) is only supported for GCM. If provided for encryption, the identical AAD value must be provided for decryption. The default mode is GCM.

Parameters: 
- input: Column or str | The binary value to encrypt.
- key: Column or str | The passphrase to use to encrypt the data.
- mode: Column or str, optional | Specifies which block cipher mode should be used to encrypt messages. Valid modes: ECB, GCM, CBC.
- padding: Column or str, optional | Specifies how to pad messages whose length is not a multiple of the block size. Valid values: PKCS, NONE, DEFAULT. The DEFAULT padding means PKCS for ECB, NONE for GCM and PKCS for CBC.
- iv: Column or str, optional | Optional initialization vector. Only supported for CBC and GCM modes. Valid values: None or “”. 16-byte array for CBC mode. 12-byte array for GCM mode.
- aad: Column or str, optional | Optional additional authenticated data. Only supported for GCM mode. This can be any free-form input and must be provided for both encryption and decryption.

In [11]:
df = spark.createDataFrame([(
    "Spark", "abcdefghijklmnop12345678ABCDEFGH", "GCM", "DEFAULT",
    "000000000000000000000000", "This is an AAD mixed into the input",)],
    ["input", "key", "mode", "padding", "iv", "aad"]
)
df.select(base64(aes_encrypt(
    df.input, df.key, df.mode, df.padding, to_binary(df.iv, lit("hex")), df.aad)
).alias('r')).collect()

[Row(r='AAAAAAAAAAAAAAAAQiYi+sTLm7KD9UcZ2nlRdYDe/PX4')]

In [12]:
df.select(base64(aes_encrypt(
    df.input, df.key, df.mode, df.padding, to_binary(df.iv, lit("hex")))
).alias('r')).collect()

[Row(r='AAAAAAAAAAAAAAAAQiYi+sRNYDAOTjdSEcYBFsAWPL1f')]

In [13]:
df = spark.createDataFrame([(
    "Spark SQL", "1234567890abcdef", "ECB", "PKCS",)],
    ["input", "key", "mode", "padding"]
)
df.select(aes_decrypt(aes_encrypt(df.input, df.key, df.mode, df.padding),
    df.key, df.mode, df.padding).alias('r')
).collect()

[Row(r=bytearray(b'Spark SQL'))]

In [14]:
df = spark.createDataFrame([(
    "Spark SQL", "0000111122223333", "ECB",)],
    ["input", "key", "mode"]
)
df.select(aes_decrypt(aes_encrypt(df.input, df.key, df.mode),
    df.key, df.mode).alias('r')
).collect()

[Row(r=bytearray(b'Spark SQL'))]

In [15]:
df = spark.createDataFrame([(
    "Spark SQL", "abcdefghijklmnop",)],
    ["input", "key"]
)
df.select(aes_decrypt(
    unbase64(base64(aes_encrypt(df.input, df.key))), df.key
).cast("STRING").alias('r')).collect()

[Row(r='Spark SQL')]

In [16]:
key_1 = "0000111122223333"
key_2 = "abcdefghijklmnop"

df = spark.createDataFrame([(
    "83F16B2AA704794132802D248E6BFD4E380078182D1544813898AC97E709B28A94",
    key_1,)],
    ["input", "key"]
)
df.select(aes_decrypt(unhex(df.input), df.key).alias('r')).collect()

[Row(r=bytearray(b'Spark'))]

In [17]:
df = spark.createDataFrame([(
    "Spark SQL", key_2,)],
    ["input", "key"]
)

df_key_2_en = df.select(aes_encrypt(df.input, df.key).cast("STRING").alias('r'))
df_key_2_en.collect()

[Row(r='!\x196�:���\x7f�4�]��hT�5\x7fshm<\x0b4wO\x06�\r��\x10�1')]

In [18]:
df_key_2_de = df_key_2_en.select(aes_decrypt("r", lit(key_2)).cast("STRING").alias('r'))
df_key_2_de.collect()

[Row(r='Spark SQL')]

#### pyspark.sql.functions.bitmap_bit_position(col: ColumnOrName) → pyspark.sql.column.Column
Returns the bit position for the given input column.

In [19]:
df = spark.createDataFrame([(123,)], ["a"])
df.select(bitmap_bit_position(df.a).alias("r")).collect()

[Row(r=122)]

In [20]:
tour.limit(20).select("Value", bitmap_bit_position("Value")).collect()

[Row(Value='71', bitmap_bit_position(Value)=70),
 Row(Value='77', bitmap_bit_position(Value)=76),
 Row(Value='83', bitmap_bit_position(Value)=82),
 Row(Value='54', bitmap_bit_position(Value)=53),
 Row(Value='100', bitmap_bit_position(Value)=99),
 Row(Value='63', bitmap_bit_position(Value)=62),
 Row(Value='88', bitmap_bit_position(Value)=87),
 Row(Value='64', bitmap_bit_position(Value)=63),
 Row(Value='64', bitmap_bit_position(Value)=63),
 Row(Value='92', bitmap_bit_position(Value)=91),
 Row(Value='75', bitmap_bit_position(Value)=74),
 Row(Value='54', bitmap_bit_position(Value)=53),
 Row(Value='76', bitmap_bit_position(Value)=75),
 Row(Value='94', bitmap_bit_position(Value)=93),
 Row(Value='82', bitmap_bit_position(Value)=81),
 Row(Value='85', bitmap_bit_position(Value)=84),
 Row(Value='79', bitmap_bit_position(Value)=78),
 Row(Value='89', bitmap_bit_position(Value)=88),
 Row(Value='88', bitmap_bit_position(Value)=87),
 Row(Value='91', bitmap_bit_position(Value)=90)]

In [21]:
tour.limit(20).select(bitmap_bit_position(tour.Value)).collect()

[Row(bitmap_bit_position(Value)=70),
 Row(bitmap_bit_position(Value)=76),
 Row(bitmap_bit_position(Value)=82),
 Row(bitmap_bit_position(Value)=53),
 Row(bitmap_bit_position(Value)=99),
 Row(bitmap_bit_position(Value)=62),
 Row(bitmap_bit_position(Value)=87),
 Row(bitmap_bit_position(Value)=63),
 Row(bitmap_bit_position(Value)=63),
 Row(bitmap_bit_position(Value)=91),
 Row(bitmap_bit_position(Value)=74),
 Row(bitmap_bit_position(Value)=53),
 Row(bitmap_bit_position(Value)=75),
 Row(bitmap_bit_position(Value)=93),
 Row(bitmap_bit_position(Value)=81),
 Row(bitmap_bit_position(Value)=84),
 Row(bitmap_bit_position(Value)=78),
 Row(bitmap_bit_position(Value)=88),
 Row(bitmap_bit_position(Value)=87),
 Row(bitmap_bit_position(Value)=90)]

#### pyspark.sql.functions.bitmap_bucket_number(col: ColumnOrName) → pyspark.sql.column.Column
Returns the bucket number for the given input column.

In [22]:
df = spark.createDataFrame([(123,)], ["a"])
df.select(bitmap_bucket_number(df.a).alias("r")).collect()

23/10/22 15:48:32 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

[Row(r=1)]

In [23]:
tour.limit(20).select("Value", bitmap_bucket_number("Value")).collect()

[Row(Value='71', bitmap_bucket_number(Value)=1),
 Row(Value='77', bitmap_bucket_number(Value)=1),
 Row(Value='83', bitmap_bucket_number(Value)=1),
 Row(Value='54', bitmap_bucket_number(Value)=1),
 Row(Value='100', bitmap_bucket_number(Value)=1),
 Row(Value='63', bitmap_bucket_number(Value)=1),
 Row(Value='88', bitmap_bucket_number(Value)=1),
 Row(Value='64', bitmap_bucket_number(Value)=1),
 Row(Value='64', bitmap_bucket_number(Value)=1),
 Row(Value='92', bitmap_bucket_number(Value)=1),
 Row(Value='75', bitmap_bucket_number(Value)=1),
 Row(Value='54', bitmap_bucket_number(Value)=1),
 Row(Value='76', bitmap_bucket_number(Value)=1),
 Row(Value='94', bitmap_bucket_number(Value)=1),
 Row(Value='82', bitmap_bucket_number(Value)=1),
 Row(Value='85', bitmap_bucket_number(Value)=1),
 Row(Value='79', bitmap_bucket_number(Value)=1),
 Row(Value='89', bitmap_bucket_number(Value)=1),
 Row(Value='88', bitmap_bucket_number(Value)=1),
 Row(Value='91', bitmap_bucket_number(Value)=1)]

#### pyspark.sql.functions.bitmap_construct_agg(col: ColumnOrName) → pyspark.sql.column.Column
Returns a bitmap with the positions of the bits set from all the values from the input column. The input column will most likely be bitmap_bit_position().

In [24]:
df = spark.createDataFrame([(1,),(2,),(3,)], ["a"])
df.select(substring(hex(
    bitmap_construct_agg(bitmap_bit_position(df.a))
), 0, 6).alias("r")).collect()

[Row(r='070000')]

In [25]:
students.limit(10).select("math score", bitmap_bit_position("math score")).collect()

[Row(math score=72, bitmap_bit_position(math score)=71),
 Row(math score=69, bitmap_bit_position(math score)=68),
 Row(math score=90, bitmap_bit_position(math score)=89),
 Row(math score=47, bitmap_bit_position(math score)=46),
 Row(math score=76, bitmap_bit_position(math score)=75),
 Row(math score=71, bitmap_bit_position(math score)=70),
 Row(math score=88, bitmap_bit_position(math score)=87),
 Row(math score=40, bitmap_bit_position(math score)=39),
 Row(math score=64, bitmap_bit_position(math score)=63),
 Row(math score=38, bitmap_bit_position(math score)=37)]

In [26]:
students.select(substring(hex(
    bitmap_construct_agg(bitmap_bit_position("math score"))
), 0, 6).alias("r")).collect()

[Row(r='8100E6')]

In [27]:
students.select(hex(
    bitmap_construct_agg(bitmap_bit_position("math score"))
).alias("r")).collect()

[Row(r='8100E6BEFFFFFFFFFFFFFFFF0F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000')]

In [28]:
students.select(bitmap_construct_agg(bitmap_bit_position("math score")).alias("r")).collect()

[Row(r=bytearray(b'\x81\x00\xe6\xbe\xff\xff\xff\xff\xff\xff\xff\xff\x0f\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'))]

In [29]:
students.limit(20).select(substring(hex(
    bitmap_construct_agg(bitmap_bit_position("math score"))
), 0, 6).alias("r")).collect()

[Row(r='000002')]

In [30]:
students.limit(20).select(hex(bitmap_construct_agg(bitmap_bit_position("math score"))).alias("r")).collect()

[Row(r='00000200A0602282D128800200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000')]

#### pyspark.sql.functions.bitmap_count(col: ColumnOrName) → pyspark.sql.column.Column
Returns the number of set bits in the input bitmap.

In [31]:
df = spark.createDataFrame([("FFFF",)], ["a"])
df.select(bitmap_count(to_binary(df.a, lit("hex"))).alias('r')).collect()

[Row(r=16)]

In [32]:
students.limit(10).select(bitmap_count(to_binary("math score", lit("hex"))).alias("r")).collect()

[Row(r=4),
 Row(r=4),
 Row(r=2),
 Row(r=4),
 Row(r=5),
 Row(r=4),
 Row(r=2),
 Row(r=1),
 Row(r=3),
 Row(r=3)]

#### pyspark.sql.functions.bitmap_or_agg(col: ColumnOrName) → pyspark.sql.column.Column
Returns a bitmap that is the bitwise OR of all of the bitmaps from the input column. The input column should be bitmaps created from bitmap_construct_agg().

In [33]:
df = spark.createDataFrame([("10",),("20",),("40",)], ["a"])
df.select(substring(hex(
    bitmap_or_agg(to_binary(df.a, lit("hex")))
), 0, 6).alias("r")).collect()

[Row(r='700000')]

In [34]:
students.limit(10).select(substring(hex(
    bitmap_or_agg(to_binary("math score", lit("hex")))), 0, 6).alias("r")).collect()

[Row(r='FF0000')]

#### pyspark.sql.functions.current_catalog() → pyspark.sql.column.Column
Returns the current catalog.

In [35]:
spark.range(1).select(current_catalog()).show()

+-----------------+
|current_catalog()|
+-----------------+
|    spark_catalog|
+-----------------+

#### pyspark.sql.functions.current_database() → pyspark.sql.column.Column[source]
Returns the current database.

In [36]:
spark.range(1).select(current_database()).show()

+------------------+
|current_database()|
+------------------+
|           default|
+------------------+

#### pyspark.sql.functions.current_schema() → pyspark.sql.column.Column
Returns the current database.

In [37]:
spark.range(1).select(current_schema()).show()

+------------------+
|current_database()|
+------------------+
|           default|
+------------------+

#### pyspark.sql.functions.current_user() → pyspark.sql.column.Column

In [38]:
spark.range(1).select(current_user()).show()

+--------------+
|current_user()|
+--------------+
|    zsavchenko|
+--------------+

#### pyspark.sql.functions.input_file_block_length() → pyspark.sql.column.Column
Returns the length of the block being read, or -1 if not available.

In [39]:
df = spark.read.text(path+"students.csv", lineSep=",")
df.select(input_file_block_length().alias('r')).first()

Row(r=72036)

In [40]:
df = spark.read.text(path+"pga_tour_historical.csv", lineSep=",")
df.select(input_file_block_length().alias('r')).first()

Row(r=21305899)

#### pyspark.sql.functions.input_file_block_start() → pyspark.sql.column.Column
Returns the start offset of the block being read, or -1 if not available.

In [41]:
df = spark.read.text(path+"students.csv", lineSep=",")
df.select(input_file_block_start().alias('r')).first()

Row(r=0)

In [42]:
df = spark.read.text(path+"pga_tour_historical.csv", lineSep=",")
df.select(input_file_block_start().alias('r')).first()

Row(r=0)

#### pyspark.sql.functions.md5(col: ColumnOrName) → pyspark.sql.column.Column
Calculates the MD5 digest and returns the value as a 32 character hex string.

In [43]:
spark.createDataFrame([('ABC',)], ['a']).select(md5('a').alias('hash')).collect()

[Row(hash='902fbdd2b1df0c4f70b4a5d23525e932')]

#### pyspark.sql.functions.sha(col: ColumnOrName) → pyspark.sql.column.Column
Returns a sha1 hash value as a hex string of the col.

In [44]:
spark.range(1).select(sha(lit("Spark"))).show(1, False)

+----------------------------------------+
|sha(Spark)                              |
+----------------------------------------+
|85f5955f4b27a9a4c2aab6ffe5d7189fc298b92c|
+----------------------------------------+

#### pyspark.sql.functions.sha1(col: ColumnOrName) → pyspark.sql.column.Column
Returns the hex string result of SHA-1.

In [45]:
spark.createDataFrame([('ABC',)], ['a']).select(sha1('a').alias('hash')).collect()

[Row(hash='3c01bdbb26f358bab27f267924aa2c9a03fcfdb8')]

#### pyspark.sql.functions.sha2(col: ColumnOrName, numBits: int) → pyspark.sql.column.Column
Returns the hex string result of SHA-2 family of hash functions (SHA-224, SHA-256, SHA-384, and SHA-512). The numBits indicates the desired bit length of the result, which must have a value of 224, 256, 384, 512, or 0 (which is equivalent to 256).

Parameters: 
- col: Column or str | target column to compute on.
- num: Bitsint | the desired bit length of the result, which must have a value of 224, 256, 384, 512, or 0 (which is equivalent to 256).

Returns – Column | the column for computed results.

In [46]:
df = spark.createDataFrame([["Alice"], ["Bob"]], ["name"])
df.withColumn("sha2", sha2(df.name, 256)).show(truncate=False)

+-----+----------------------------------------------------------------+
|name |sha2                                                            |
+-----+----------------------------------------------------------------+
|Alice|3bc51062973c458d5a6f2d8d64a023246354ad7e064b1e4e009ec8a0699a3043|
|Bob  |cd9fb1e148ccd8442e5aa74904cc73bf6fb54d1d54d333bd596aa9bb4bb4e961|
+-----+----------------------------------------------------------------+

#### pyspark.sql.functions.crc32(col: ColumnOrName) → pyspark.sql.column.Column
Calculates the cyclic redundancy check value (CRC32) of a binary column and returns the value as a bigint.

In [47]:
spark.createDataFrame([('ABC',)], ['a']).select(crc32('a').alias('crc32')).collect()

[Row(crc32=2743272264)]

#### pyspark.sql.functions.hash(*cols: ColumnOrName) → pyspark.sql.column.Column
Calculates the hash code of given columns, and returns the result as an int column.

In [48]:
df = spark.createDataFrame([('ABC', 'DEF')], ['c1', 'c2'])

df.select(hash('c1').alias('hash')).show()

df.select(hash('c1', 'c2').alias('hash')).show()

+----------+
|      hash|
+----------+
|-757602832|
+----------+

+---------+
|     hash|
+---------+
|599895104|
+---------+

#### pyspark.sql.functions.xxhash64(*cols: ColumnOrName) → pyspark.sql.column.Column
Calculates the hash code of given columns using the 64-bit variant of the xxHash algorithm, and returns the result as a long column. The hash computation uses an initial seed of 42.

In [49]:
df = spark.createDataFrame([('ABC', 'DEF')], ['c1', 'c2'])

df.select(xxhash64('c1').alias('hash')).show()

df.select(xxhash64('c1', 'c2').alias('hash')).show()

+-------------------+
|               hash|
+-------------------+
|4105715581806190027|
+-------------------+

+-------------------+
|               hash|
+-------------------+
|3233247871021311208|
+-------------------+

#### pyspark.sql.functions.assert_true(col: ColumnOrName, errMsg: Union[pyspark.sql.column.Column, str, None] = None) → pyspark.sql.column.Column
Returns null if the input column is true; throws an exception with the provided error message otherwise.

Parameters: 
- col: Column or str | column name or column that represents the input column to test.
- errMsg: Column or str, optional | A Python string literal or column containing the error message.

Returns – Column | null if the input column is true otherwise throws an error with specified message.

In [50]:
df = spark.createDataFrame([(0,1)], ['a', 'b'])
df.select(assert_true(df.a < df.b).alias('r')).collect()

[Row(r=None)]

In [51]:
df.select(assert_true(df.a < df.b, df.a).alias('r')).collect()

[Row(r=None)]

In [52]:
df.select(assert_true(df.a < df.b, 'error').alias('r')).collect()

[Row(r=None)]

In [53]:
from py4j.protocol import Py4JJavaError

try:
    df.select(assert_true(df.a > df.b, 'My error msg').alias('r')).collect()
except Py4JJavaError as e:
    print("My error msg" in e.__str__())

True

23/10/22 15:48:38 ERROR Executor: Exception in task 11.0 in stage 91.0 (TID 496)
java.lang.RuntimeException: My error msg
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)
23/10/22 15:48:38 WARN TaskSetManager: Lost task 11.0 in stage 91.0 (TID 496) (192.168.0.179 executor driver): java.lang.RuntimeException: My error msg
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)

23/10/22 15:48:38 ERROR TaskSetManager: Task 11 in stage 91.0 failed 1 times; aborting job

#### pyspark.sql.functions.raise_error(errMsg: Union[pyspark.sql.column.Column, str]) → pyspark.sql.column.Column
Throws an exception with the provided error message.

In [54]:
from py4j.protocol import Py4JJavaError

df = spark.range(1)

try:
    df.select(raise_error("My error msg")).show()
except Py4JJavaError as e:
    print("My error msg" in e.__str__())

True

23/10/22 15:48:38 ERROR Executor: Exception in task 11.0 in stage 92.0 (TID 508)
java.lang.RuntimeException: My error msg
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)
23/10/22 15:48:38 WARN TaskSetManager: Lost task 11.0 in stage 92.0 (TID 508) (192.168.0.179 executor driver): java.lang.RuntimeException: My error msg
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.

#### pyspark.sql.functions.reflect(*cols: ColumnOrName) → pyspark.sql.column.Column
Calls a method with reflection.

Parameters – cols: Column or str | the first element should be a literal string for the class name, and the second element should be a literal string for the method name, and the remaining are input arguments to the Java method.

In [55]:
df = spark.createDataFrame([("a5cf6c42-0c85-418f-af6c-3e4e5b1328f2",)], ["a"])
df.select(
    reflect(lit("java.util.UUID"), lit("fromString"), df.a).alias('r')
).collect()

spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)

23/10/22 15:48:38 ERROR TaskSetManager: Task 11 in stage 92.0 failed 1 times; aborting job

[Row(r='a5cf6c42-0c85-418f-af6c-3e4e5b1328f2')]

#### pyspark.sql.functions.hll_sketch_estimate(col: ColumnOrName) → pyspark.sql.column.Column
Returns the estimated number of unique values given the binary representation of a Datasketches HllSketch.

[why] why not use hll_sketch_estimate all time?

Datasketches HyperLogLog (HLL) Sketch - це структура даних, призначена для наближеного підрахунку унікальних елементів у великих наборах даних. Вона використовує алгоритм HyperLogLog для оцінки кількості різних елементів у масиві, не зберігаючи всі ці елементи, а лише важливі характеристики.

In [56]:
df = spark.createDataFrame([1,2,2,3], "INT")
df = df.agg(hll_sketch_estimate(hll_sketch_agg("value")).alias("distinct_cnt"))
df.show()

+------------+
|distinct_cnt|
+------------+
|           3|
+------------+

In [57]:
from time import time
start = time()
tour.agg(hll_sketch_estimate(hll_sketch_agg("Value")).alias("distinct_cnt")).show()
print(f"execution_time - {time() - start}")

+------------+
|distinct_cnt|
+------------+
|      179970|
+------------+

execution_time - 1.1872360706329346

In [58]:
start = time()
print(tour.select("Value").distinct().count())
print(f"execution_time - {time() - start}")

180981
execution_time - 1.5197079181671143

In [59]:
start = time()
students.agg(hll_sketch_estimate(hll_sketch_agg("math score")).alias("distinct_cnt")).show()
print(f"execution_time - {time() - start}")

+------------+
|distinct_cnt|
+------------+
|          81|
+------------+

execution_time - 0.07657694816589355

In [60]:
start = time()
print(students.select("math score").distinct().count())
print(f"execution_time - {time() - start}")

81
execution_time - 0.23991703987121582

#### pyspark.sql.functions.hll_union(col1: ColumnOrName, col2: ColumnOrName, allowDifferentLgConfigK: Optional[bool] = None) → pyspark.sql.column.Column
Merges two binary representations of Datasketches HllSketch objects, using a Datasketches Union object. Throws an exception if sketches have different lgConfigK values and allowDifferentLgConfigK is unset or set to false.

In [61]:
df = spark.createDataFrame([(1,4),(2,5),(2,5),(3,6)], "struct<v1:int,v2:int>")
df = df.agg(hll_sketch_agg("v1").alias("sketch1"), hll_sketch_agg("v2").alias("sketch2"))
df = df.withColumn("distinct_cnt", hll_sketch_estimate(hll_union("sketch1", "sketch2")))
df.show()
df.drop("sketch1", "sketch2").show()

+--------------------+--------------------+------------+
|             sketch1|             sketch2|distinct_cnt|
+--------------------+--------------------+------------+
|[02 01 07 0C 03 0...|[02 01 07 0C 03 0...|           6|
+--------------------+--------------------+------------+

+------------+
|distinct_cnt|
+------------+
|           6|
+------------+

In [62]:
df = students.agg(hll_sketch_agg("math score").alias("sketch1"),
                  hll_sketch_agg("reading score").alias("sketch2"),
                  hll_sketch_agg("writing score").alias("sketch3"),)
df = (df.withColumn("distinct_cnt1", hll_sketch_estimate(hll_union("sketch1", "sketch2")))
        .withColumn("distinct_cnt2", hll_sketch_estimate(hll_union("sketch1", "sketch3")))
        .withColumn("distinct_cnt3", hll_sketch_estimate(hll_union("sketch2", "sketch3")))
        .withColumn("distinct_cnt4", hll_sketch_estimate(hll_union("sketch3", "sketch2")))
)
df.show()
df.drop("sketch1", "sketch2", "sketch3").show()

+--------------------+--------------------+--------------------+-------------+-------------+-------------+-------------+
|             sketch1|             sketch2|             sketch3|distinct_cnt1|distinct_cnt2|distinct_cnt3|distinct_cnt4|
+--------------------+--------------------+--------------------+-------------+-------------+-------------+-------------+
|[03 01 07 0C 07 0...|[03 01 07 0C 07 0...|[03 01 07 0C 07 0...|           83|           83|           82|           82|
+--------------------+--------------------+--------------------+-------------+-------------+-------------+-------------+

+-------------+-------------+-------------+-------------+
|distinct_cnt1|distinct_cnt2|distinct_cnt3|distinct_cnt4|
+-------------+-------------+-------------+-------------+
|           83|           83|           82|           82|
+-------------+-------------+-------------+-------------+

#### pyspark.sql.functions.java_method(*cols: ColumnOrName) → pyspark.sql.column.Column
Calls a method with reflection.

Parameters – cols: Column or str | the first element should be a literal string for the class name, and the second element should be a literal string for the method name, and the remaining are input arguments to the Java method.

In [63]:
spark.range(1).select(
    java_method(
        lit("java.util.UUID"),
        lit("fromString"),
        lit("a5cf6c42-0c85-418f-af6c-3e4e5b1328f2")
    )
).show(truncate=False)

+-----------------------------------------------------------------------------+
|java_method(java.util.UUID, fromString, a5cf6c42-0c85-418f-af6c-3e4e5b1328f2)|
+-----------------------------------------------------------------------------+
|a5cf6c42-0c85-418f-af6c-3e4e5b1328f2                                         |
+-----------------------------------------------------------------------------+

#### pyspark.sql.functions.stack(*cols: ColumnOrName) → pyspark.sql.column.Column
Separates col1, …, colk into n rows. Uses column names col0, col1, etc. by default unless specified otherwise.

Parameters – cols: Column or str | the first element should be a literal int for the number of rows to be separated, and the remaining are input elements to be separated.

In [64]:
df = spark.createDataFrame([(1, 2, 3)], ["a", "b", "c"])
df.select(stack(lit(2), df.a, df.b, df.c)).show(truncate=False)

+----+----+
|col0|col1|
+----+----+
|1   |2   |
|3   |NULL|
+----+----+

In [65]:
df = spark.createDataFrame([(1, 2, 3, 4), (1, 2, 3, 4)], ["a", "b", "c", "d"])
df.select(stack(lit(2), df.a, df.b, df.c, df.d)).show(truncate=False)

+----+----+
|col0|col1|
+----+----+
|1   |2   |
|3   |4   |
|1   |2   |
|3   |4   |
+----+----+

In [66]:
df.select(stack(lit(3), df.a, df.b, df.c, df.d)).show(truncate=False)

+----+----+
|col0|col1|
+----+----+
|1   |2   |
|3   |4   |
|NULL|NULL|
|1   |2   |
|3   |4   |
|NULL|NULL|
+----+----+

In [67]:
df.select(stack(lit(1), df.a, df.b, df.c, df.d)).show(truncate=False)

+----+----+----+----+
|col0|col1|col2|col3|
+----+----+----+----+
|1   |2   |3   |4   |
|1   |2   |3   |4   |
+----+----+----+----+

In [68]:
df.select(stack(lit(4), df.a, df.b, df.c, df.d)).show(truncate=False)

+----+
|col0|
+----+
|1   |
|2   |
|3   |
|4   |
|1   |
|2   |
|3   |
|4   |
+----+

#### pyspark.sql.functions.try_aes_decrypt(input: ColumnOrName, key: ColumnOrName, mode: Optional[ColumnOrName] = None, padding: Optional[ColumnOrName] = None, aad: Optional[ColumnOrName] = None) → pyspark.sql.column.Column
This is a special version of aes_decrypt that performs the same operation, but returns a NULL value instead of raising an error if the decryption cannot be performed. Returns a decrypted value of input using AES in mode with padding. Key lengths of 16, 24 and 32 bits are supported. Supported combinations of (mode, padding) are (‘ECB’, ‘PKCS’), (‘GCM’, ‘NONE’) and (‘CBC’, ‘PKCS’). Optional additional authenticated data (AAD) is only supported for GCM. If provided for encryption, the identical AAD value must be provided for decryption. The default mode is GCM.

Parameters: 
- input: Column or str | 
The binary value to decrypt.
- key: Column or str | 
The passphrase to use to decrypt the data.
- mode: Column or str, optional |
Specifies which block cipher mode should be used to decrypt messages. Valid modes: ECB, GCM, CBC.
- padding: Column or str, optional | 
Specifies how to pad messages whose length is not a multiple of the block size. Valid values: PKCS, NONE, DEFAULT. The DEFAULT padding means PKCS for ECB, NONE for GCM and PKCS for CBC.
- aad: Column or str, optional | 
Optional additional authenticated data. Only supported for GCM mode. This can be any free-form input and must be provided for both encryption and decryption.

In [69]:
df = spark.createDataFrame([(
    "AAAAAAAAAAAAAAAAQiYi+sTLm7KD9UcZ2nlRdYDe/PX4",
    "abcdefghijklmnop12345678ABCDEFGH", "GCM", "DEFAULT",
    "This is an AAD mixed into the input",)],
    ["input", "key", "mode", "padding", "aad"]
)
df.select(try_aes_decrypt(
    unbase64(df.input), df.key, df.mode, df.padding, df.aad).alias('r')
).collect()

[Row(r=bytearray(b'Spark'))]

In [70]:
df = spark.createDataFrame([(
    "AAAAAAAAAAAAAAAAAAAAAPSd4mWyMZ5mhvjiAPQJnfg=",
    "abcdefghijklmnop12345678ABCDEFGH", "CBC", "DEFAULT",)],
    ["input", "key", "mode", "padding"]
)
df.select(try_aes_decrypt(
    unbase64(df.input), df.key, df.mode, df.padding).alias('r')
).collect()

[Row(r=bytearray(b'Spark'))]

In [71]:
df.select(try_aes_decrypt(unbase64(df.input), df.key, df.mode).alias('r')).collect()

[Row(r=bytearray(b'Spark'))]

In [72]:
df = spark.createDataFrame([(
    "83F16B2AA704794132802D248E6BFD4E380078182D1544813898AC97E709B28A94",
    "0000111122223333",)],
    ["input", "key"]
)
df.select(try_aes_decrypt(unhex(df.input), df.key).alias('r')).collect()

[Row(r=bytearray(b'Spark'))]

#### pyspark.sql.functions.typeof(col: ColumnOrName) → pyspark.sql.column.Column
Return DDL-formatted type string for the data type of the input.

In [73]:
df = spark.createDataFrame([(1,)], ["a"])
df.select(typeof(df.a).alias('r')).collect()

[Row(r='bigint')]

#### pyspark.sql.functions.user() → pyspark.sql.column.Column
Returns the current database.

In [74]:
spark.range(1).select(user()).show()

+--------------+
|current_user()|
+--------------+
|    zsavchenko|
+--------------+

#### pyspark.sql.functions.version() → pyspark.sql.column.Column
Returns the Spark version. The string contains 2 fields, the first being a release version and the second being a git revision.

In [75]:
df = spark.range(1)
df.select(version()).show(truncate=False)

+----------------------------------------------+
|version()                                     |
+----------------------------------------------+
|3.5.0 ce5ddad990373636e94071e7cef2f31021add07b|
+----------------------------------------------+

## [Predicate Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#predicate-functions)

Parameters:
* col1: Column or str
* col2: Column or str
* col3: Column or str

#### pyspark.sql.functions.equal_null(col1: ColumnOrName, col2: ColumnOrName) → pyspark.sql.column.Column¶
Returns same result as the EQUAL(=) operator for non-null operands, but returns true if both are null, false if one of the them is null.

In [76]:
df = spark.createDataFrame([(None, None,), (1, 9,), (1, 1,),], ["a", "b"])
df.show()
df.select(equal_null(df.a, df.b).alias('r')).collect()

+----+----+
|   a|   b|
+----+----+
|NULL|NULL|
|   1|   9|
|   1|   1|
+----+----+

[Row(r=True), Row(r=False), Row(r=True)]

#### pyspark.sql.functions.ifnull(col1: ColumnOrName, col2: ColumnOrName) → pyspark.sql.column.Column
Returns col2 if col1 is null, or col1 otherwise.

In [77]:
df = spark.createDataFrame([(None, 12,), (1, None,), (None, None,), (1, 9,),], ["e", "e2"])
df.show()
df.select(ifnull(df.e, df.e2)).show()

+----+----+
|   e|  e2|
+----+----+
|NULL|  12|
|   1|NULL|
|NULL|NULL|
|   1|   9|
+----+----+

+-------------+
|ifnull(e, e2)|
+-------------+
|           12|
|            1|
|         NULL|
|            1|
+-------------+

#### pyspark.sql.functions.isnotnull(col: ColumnOrName) → pyspark.sql.column.Column
Returns true if col is not null, or false otherwise.

In [78]:
df = spark.createDataFrame([(None,), (1,)], ["e"])
df.show()
df.select(isnotnull(df.e).alias('r')).collect()

+----+
|   e|
+----+
|NULL|
|   1|
+----+

[Row(r=False), Row(r=True)]

#### pyspark.sql.functions.nullif(col1: ColumnOrName, col2: ColumnOrName) → pyspark.sql.column.Column
Returns null if col1 equals to col2, or col1 otherwise.

In [79]:
df = spark.createDataFrame([(None, None,), (1, 9,), (1, 1,), (None, 12,), (1, None,),], ["a", "b"])
df.show()
df.select(nullif(df.a, df.b).alias('r')).collect()

+----+----+
|   a|   b|
+----+----+
|NULL|NULL|
|   1|   9|
|   1|   1|
|NULL|  12|
|   1|NULL|
+----+----+

[Row(r=None), Row(r=1), Row(r=None), Row(r=None), Row(r=1)]

#### pyspark.sql.functions.nvl(col1: ColumnOrName, col2: ColumnOrName) → pyspark.sql.column.Column
Returns col2 if col1 is null, or col1 otherwise.

In [80]:
df = spark.createDataFrame([(None, 12,), (1, None,), (None, None,), (1, 9,),], ["a", "b"])
df.show()
df.select(nvl(df.a, df.b).alias('r')).collect()

+----+----+
|   a|   b|
+----+----+
|NULL|  12|
|   1|NULL|
|NULL|NULL|
|   1|   9|
+----+----+

[Row(r=12), Row(r=1), Row(r=None), Row(r=1)]

#### pyspark.sql.functions.nvl2(col1: ColumnOrName, col2: ColumnOrName, col3: ColumnOrName) → pyspark.sql.column.Column
Returns col2 if col1 is not null, or col3 otherwise.

In [81]:
df = spark.createDataFrame([(None, 8, 6,), (1, 8, 9,)], ["a", "b", "c"])
df.select(nvl2(df.a, df.b, df.c).alias('r')).collect()

[Row(r=6), Row(r=8)]

## [Xml Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#xml-functions)

#### pyspark.sql.functions.xpath(xml: ColumnOrName, path: ColumnOrName) → pyspark.sql.column.Column
Returns a string array of values within the nodes of xml that match the XPath expression.

In [82]:
df = spark.createDataFrame(
    [('<a><b>b1</b><b>b2</b><b>b3</b><c>c1</c><c>c2</c></a>',)], ['x'])
df.select(xpath(df.x, lit('a/b/text()')).alias('r')).collect()

[Row(r=['b1', 'b2', 'b3'])]

#### pyspark.sql.functions.xpath_boolean(xml: ColumnOrName, path: ColumnOrName) → pyspark.sql.column.Column¶
Returns true if the XPath expression evaluates to true, or if a matching node is found.

In [83]:
df = spark.createDataFrame([('<a><b>1</b></a>',)], ['x'])
df.select(xpath_boolean(df.x, lit('a/b')).alias('r')).collect()

[Row(r=True)]

#### pyspark.sql.functions.xpath_double(xml: ColumnOrName, path: ColumnOrName) → pyspark.sql.column.Column
Returns a double value, the value zero if no match is found, or NaN if a match is found but the value is non-numeric.

In [84]:
df = spark.createDataFrame([('<a><b>1</b><b>2</b></a>',)], ['x'])
df.select(xpath_double(df.x, lit('sum(a/b)')).alias('r')).collect()

[Row(r=3.0)]

#### pyspark.sql.functions.xpath_int(xml: ColumnOrName, path: ColumnOrName) → pyspark.sql.column.Column
Returns an integer value, or the value zero if no match is found, or a match is found but the value is non-numeric.

In [85]:
df = spark.createDataFrame([('<a><b>1</b><b>2</b></a>',)], ['x'])
df.select(xpath_int(df.x, lit('sum(a/b)')).alias('r')).collect()

[Row(r=3)]

#### pyspark.sql.functions.xpath_long(xml: ColumnOrName, path: ColumnOrName) → pyspark.sql.column.Column
Returns a long integer value, or the value zero if no match is found, or a match is found but the value is non-numeric.

In [86]:
df = spark.createDataFrame([('<a><b>1</b><b>2</b></a>',)], ['x'])
df.select(xpath_long(df.x, lit('sum(a/b)')).alias('r')).collect()

[Row(r=3)]

#### pyspark.sql.functions.xpath_number(xml: ColumnOrName, path: ColumnOrName) → pyspark.sql.column.Column
Returns a double value, the value zero if no match is found, or NaN if a match is found but the value is non-numeric.

In [87]:
spark.createDataFrame([('<a><b>1</b><b>2</b></a>',)], ['x']).select(xpath_number('x', lit('sum(a/b)'))).show()

+-------------------------+
|xpath_number(x, sum(a/b))|
+-------------------------+
|                      3.0|
+-------------------------+

#### pyspark.sql.functions.xpath_short(xml: ColumnOrName, path: ColumnOrName) → pyspark.sql.column.Column
Returns a short integer value, or the value zero if no match is found, or a match is found but the value is non-numeric.

In [88]:
df = spark.createDataFrame([('<a><b>1</b><b>2</b></a>',)], ['x'])
df.select(xpath_short(df.x, lit('sum(a/b)')).alias('r')).collect()

[Row(r=3)]

#### pyspark.sql.functions.xpath_string(xml: ColumnOrName, path: ColumnOrName) → pyspark.sql.column.Column
Returns the text contents of the first xml node that matches the XPath expression.

In [89]:
df = spark.createDataFrame([('<a><b>b</b><c>cc</c></a>',)], ['x'])
df.select(xpath_string(df.x, lit('a/c')).alias('r')).collect()

[Row(r='cc')]