In [2]:
import pyspark
from pyspark.sql.functions import *

spark = pyspark.sql.SparkSession.builder.appName("types").getOrCreate()

spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/09 12:15:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
path = "datasets/"
students = spark.read.csv(path+"students.csv", inferSchema=True, header=True)
tour = spark.read.csv(path+"pga_tour_historical.csv", inferSchema=True, header=True)
tour.limit(100).dropna().dropDuplicates().limit(5).show()
students.limit(5).toPandas()

+---------------+------+----------------+--------------------+-----+
|    Player Name|Season|       Statistic|            Variable|Value|
+---------------+------+----------------+--------------------+-----+
|Robert Garrigus|  2010|Driving Distance|Driving Distance ...|   71|
|   Bubba Watson|  2010|Driving Distance|Driving Distance ...|   77|
| Dustin Johnson|  2010|Driving Distance|Driving Distance ...|   83|
|Brett Wetterich|  2010|Driving Distance|Driving Distance ...|   54|
|    J.B. Holmes|  2010|Driving Distance|Driving Distance ...|  100|
+---------------+------+----------------+--------------------+-----+

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

23/10/09 12:15:54 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

#### class pyspark.sql.types.DataType
Base class for data types.

In [6]:
# fromInternal(obj)
# Converts an internal SQL object into a native Python object.

In [ ]:
# json()

In [ ]:
# jsonValue()

In [ ]:
# needConversion()
# Does this type needs conversion between Python object and internal SQL object.
# This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.

In [ ]:
# simpleString()

In [ ]:
# toInternal(obj)
# Converts a Python object into an internal SQL object.

In [ ]:
# classmethod typeName()

#### class pyspark.sql.types.NullType
Null type.

In [ ]:
# The data type representing None, used for the types that cannot be inferred.

#### class pyspark.sql.types.StringType
String data type.

#### class pyspark.sql.types.BinaryType
Binary (byte array) data type.

#### class pyspark.sql.types.BooleanType
Boolean data type.

#### class pyspark.sql.types.DateType
Date (datetime.date) data type.

In [ ]:
EPOCH_ORDINAL = 719163

In [ ]:
# fromInternal(v)
# Converts an internal SQL object into a native Python object.

In [ ]:
# needConversion()
# Does this type needs conversion between Python object and internal SQL object.
# This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.

In [ ]:
# toInternal(d) 
# Converts a Python object into an internal SQL object.

#### class pyspark.sql.types.TimestampType
Timestamp (datetime.datetime) data type.

In [ ]:
# fromInternal(ts)
# Converts an internal SQL object into a native Python object.

In [ ]:
# needConversion()
# Does this type needs conversion between Python object and internal SQL object.
# This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.

In [ ]:
# toInternal(dt)
# Converts a Python object into an internal SQL object.

#### class pyspark.sql.types.DecimalType(precision=10, scale=0)
Decimal (decimal.Decimal) data type.

The DecimalType must have fixed precision (the maximum total number of digits) and scale (the number of digits on the right of dot). For example, (5, 2) can support the value from [-999.99 to 999.99].

The precision can be up to 38, the scale must be less or equal to precision.

When creating a DecimalType, the default precision and scale is (10, 0). When inferring schema from decimal.Decimal objects, it will be DecimalType(38, 18).

Parameters: 
* precision – the maximum (i.e. total) number of digits (default: 10)
* scale – the number of digits on right side of dot. (default: 0)

In [ ]:
# jsonValue()

In [ ]:
# simpleString()

#### class pyspark.sql.types.DoubleType
Double data type, representing double precision floats.

#### class pyspark.sql.types.FloatType
Float data type, representing single precision floats.

#### class pyspark.sql.types.ByteType
Byte data type, i.e. a signed integer in a single byte.

In [7]:
# simpleString()

#### class pyspark.sql.types.IntegerType
Int data type, i.e. a signed 32-bit integer.

In [7]:
# simpleString()

#### class pyspark.sql.types.LongType[source]
Long data type, i.e. a signed 64-bit integer.

If the values are beyond the range of [-9223372036854775808, 9223372036854775807], please use DecimalType.

In [7]:
# simpleString()

#### class pyspark.sql.types.ShortType
Short data type, i.e. a signed 16-bit integer.

In [7]:
# simpleString()

#### class pyspark.sql.types.ArrayType(elementType, containsNull=True)
Array data type.

Parameters: 
* elementType – DataType of each element in the array.
* containsNull – boolean, whether the array can contain null (None) values.

In [7]:
# fromInternal(obj)[source]
# Converts an internal SQL object into a native Python object.

In [7]:
# classmethod fromJson(json)

In [7]:
# jsonValue()

In [7]:
# needConversion()
# Does this type needs conversion between Python object and internal SQL object.
# This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.

In [7]:
# simpleString()

In [ ]:
# toInternal(obj)[source]
# Converts a Python object into an internal SQL object.

#### class pyspark.sql.types.MapType(keyType, valueType, valueContainsNull=True)
Map data type. Parameters:
- keyType – DataType of the keys in the map.
- valueType – DataType of the values in the map.
- valueContainsNull – indicates whether values can contain null (None) values.
Keys in a map data type are not allowed to be null (None).

In [8]:
# fromInternal(obj)
# Converts an internal SQL object into a native Python object.

In [ ]:
# classmethod fromJson(json)

In [ ]:
# jsonValue()

In [ ]:
# needConversion()
# Does this type needs conversion between Python object and internal SQL object.
# This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.

In [7]:
# simpleString()

In [ ]:
# toInternal(obj)
# Converts a Python object into an internal SQL object.

#### class pyspark.sql.types.StructField(name, dataType, nullable=True, metadata=None)
A field in StructType.
Parameters :
- name – string, name of the field.
- dataType – DataType of the field.
- nullable – boolean, whether the field can be null (None) or not.
- metadata – a dict from string to simple type that can be toInternald to JSON automatically

In [ ]:
# fromInternal(obj)
# Converts an internal SQL object into a native Python object.

In [ ]:
# classmethod fromJson(json)

In [ ]:
# jsonValue()

In [9]:
# needConversion()
# Does this type needs conversion between Python object and internal SQL object.
# This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.

In [ ]:
# simpleString()

In [ ]:
# toInternal(obj)
# Converts a Python object into an internal SQL object.

In [ ]:
# typeName()

#### class pyspark.sql.types.StructType(fields=None)
Struct type, consisting of a list of StructField.

This is the data type representing a Row.

Iterating a StructType will iterate over its StructFields. A contained StructField can be accessed by its name or position.

In [5]:
from pyspark.sql.types import StructType, StructField, StringType

struct1 = StructType([StructField("f1", StringType(), True)])
struct1["f1"]

StructField('f1', StringType(), True)

In [6]:
struct1[0]

StructField('f1', StringType(), True)

##### add(field, data_type=None, nullable=True, metadata=None)
Construct a StructType by adding new elements to it, to define the schema. The method accepts either:
- A single parameter which is a StructField object.
- Between 2 and 4 parameters as (name, data_type, nullable (optional), metadata(optional). The data_type parameter may be either a String or a DataType object.

Parameters:
* field – Either the name of the field or a StructField object
* data_type – If present, the DataType of the StructField to create
* nullable – Whether the field to add should be nullable (default True)
* metadata – Any additional metadata (default None)

Returns: a new updated StructType

In [7]:
struct1 = StructType().add("f1", StringType(), True).add("f2", StringType(), True, None)
struct2 = StructType([StructField("f1", StringType(), True), StructField("f2", StringType(), True, None)])
struct1 == struct2

True

In [8]:
struct1 = StructType().add(StructField("f1", StringType(), True))
struct2 = StructType([StructField("f1", StringType(), True)])
struct1 == struct2

True

In [9]:
struct1 = StructType().add("f1", "string", True)
struct2 = StructType([StructField("f1", StringType(), True)])
struct1 == struct2

True

In [10]:
# fieldNames()
# Returns all field names in a list.
struct = StructType([StructField("f1", StringType(), True)])
struct.fieldNames()

['f1']

In [ ]:
# fromInternal(obj)
# Converts an internal SQL object into a native Python object.

In [ ]:
# classmethod fromJson(json)

In [11]:
# jsonValue()

In [ ]:
# needConversion()

In [ ]:
# simpleString()

In [ ]:
# toInternal(obj)